<div id="modal-editar" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="alert-crear-info" class="alert alert-warning alert-dismissible text-center" role="alert">
							<button id="btn-close-alert-crear-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p style="font-size:14px">Editar Usuarios <b id="nombre-tipo-usuario-modal"></b> </p>
						</div>
						<div id="alerta-errorCrear" class="alert alert-danger collapse text-center"></div>

						<ul class="list-group">
							<input type="hidden" id="perfil-usuario-editar">
							<li class="list-group-item">

								<div class="row">

									<input type="hidden" name="usuario-id-editar" id="usuario-id-editar">

									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
										<p><strong>Tipo Doc</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" >
										<select class="form-control" id="tipo-documento-editar">
											<option value="">--Seleccionar--</option>
											<option selected value="30">DNI</option>
											<option value="31">CARNET EXTRANJERIA</option>
										</select>
									</div>

									<div class="col-xs-3 col-sm-2 col-md-1 col-lg-2">
										<p><strong>Número</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
										<input type="text" class="form-control"  name="numero-documento-editar" id="numero-documento-editar">
									</div>

								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
										<p><strong>Nombre</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-8" >
										<input class="form-control" type="text" name="nombre-editar" id="nombre-editar" >
									</div>
								</div>
							</li>


							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
										<p><strong>Apellido Paterno</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-8" >
										<input class="form-control" type="text" name="apellido-parterno-editar" id="apellido-parterno-editar" >
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
										<p><strong>Apellido Materno</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-8" >
										<input  class="form-control" type="text" name="apellido-materno-editar" id="apellido-materno-editar">
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">

									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
										<p><strong>Teléfono</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" >
										<input class="form-control" type="text" name="telefono-editar" id="telefono-editar" >
									</div>

									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
										<p><strong>Correo</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" >
										<input  value="majerhua123@gmail.com" class="form-control" type="text" name="correo-editar" id="correo-editar" >
									</div>

								</div>
							</li>


							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
										<p><strong>Usuario</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" >
										<input class="form-control" type="text" name="usuario-editar" id="usuario-editar" >
									</div>

									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
										<p><strong>Password</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" >
										<input  class="form-control" type="password" name="password-editar" id="password-editar">
									</div>
								</div>
							</li>

							<li class="list-group-item list-usuario-macro" >
								<div class="row">

									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" >
										<p ><strong><b>Departamentos:</b></strong></p>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-6" >
										<select class="form-control" id="departamento-editar"  name="departamento" >
											<option value="" >--Seleccionar--</option>
											{%  for dep in departamentos %}
												<option name-departamento="{{dep['nombre']}}" value="{{dep['ubicodigo']}}" >{{dep['nombre']}}</option>
											{%  endfor %}
										</select>
									</div>

									<div class="col-xs-6 col-sm-12 col-md-4 col-lg-3">
										<button class="btn btn-default" id="btn-agregar-departamento-editar">AGREGAR +</button>
									</div>

								</div>

								<div class="row" id="div-cont-dep-editar" style="padding:10px 0 10px 0;">
									
								</div>
							</li>

							<li class="list-group-item list-usuario-monitor">
								<div class="row">

									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
										<p ><strong><b>Departamentos:</b></strong></p>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-8 col-lg-8" >
										<select class="form-control" id="departamento-editar"  name="departamento" onchange="cambiarDepartamento(this)">
											<option value="" >--Seleccionar--</option>
											{%  for dep in departamentos %}
												<option name-departamento="{{dep['nombre']}}" value="{{dep['ubicodigo']}}" >{{dep['nombre']}}</option>
											{%  endfor %}
										</select>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
										<p><strong><b>Provincias:</b></strong></p>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
										<div class="form-group" style="padding:15px 0 0 0;">
											<select class="form-control" id="provincia-editar" name="provincia">
												<option value="" >--Seleccionar--</option>
											</select>
										</div>
									</div>

									<div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
										<button class="btn btn-default" id="btn-agregar-provincia-editar">AGREGAR +</button>
									</div>

								</div>

								<div class="row"  id="div-cont-prov-editar" style="padding:10px 0 10px 0;">
									
								</div>
							</li>

							<li class="list-group-item list-usuario-promotor">
								<div class="row">

									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
										<p ><strong><b>Departamentos:</b></strong></p>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-8 col-lg-8" >
										<select class="form-control" id="departamento-editar"  name="departamento" onchange="cambiarDepartamento(this)">
											<option value="" >--Seleccionar--</option>
											{%  for dep in departamentos %}
												<option name-departamento="{{dep['nombre']}}" value="{{dep['ubicodigo']}}" >{{dep['nombre']}}</option>
											{%  endfor %}
										</select>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<p style="padding:15px 0 0 0;"><strong><b>Provincias:</b></strong></p>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
										<div class="form-group" style="padding:15px 0 0 0;">
											<select class="form-control" id="provincia-editar"  name="provincia" onchange="cambiarProvincia(this)" >
												<option value="">--Seleccionar--</option>
											</select>
										</div>
									</div>


									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
										<p style="padding:15px 0 0 0;"><strong><b>Complejos:</b></strong></p>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
										<div class="form-group" style="padding:15px 0 0 0;">
											<select class="form-control" id="complejo-editar"  name="complejo" >
												<option value="">--Seleccionar--</option>
											</select>
										</div>
									</div>

									<div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
										<button class="btn btn-default" id="btn-agregar-complejo-editar">AGREGAR +</button>
									</div>

								</div>

								<div class="row" id="div-cont-edi-editar" style="padding:10px 0 10px 0;">
									
								</div>
							</li>

								
							<div id="alerta-erroreditarVacante" class="alert alert-danger collapse text-center"></div>
						</ul>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button id="btn-editar-usuario" type="button" data-dismiss="modal" class="btn btn-danger" onclick="editarUsuario()" >Editar</button>
			</div>
		</div>
	</div>
</div>