
{% extends '::base.html.twig' %}
{% block title %}Exportacion{% endblock %}

{% block body  %}

<header>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<span class="navbar-text">
					<h3>TEMPORADA {{descripcionTemporada[0]['ciclo']}}-{{descripcionTemporada[0]['anio']}}</h3>
				</span>
				<br>
				<ul class="nav navbar-nav navbar-right">
                    <li title="Inicio"><a href="{{url('akademia_panel',{'idTemporada':idTemporadaHabilitada})}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
				</ul>
				<span class="navbar-text navbar-right" style="margin-right:30px;">
					Usuario: <b>{{app.user.username}}</b>
				</span>
			</div>
		</div>
	</nav>
</header>

<section>

{% set meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'] %}
{% set cont = 1 %}
{% set cont2 = 1 %}		

<div class="proceso">

	<h2 class="text-center">Módulo de exportación</h2>
	<h4 style="color:grey">EXPORTACIÓN EN FORMATO CSV</h4>


	<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px;">
		<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
		<p>En este módulo podrás exportar data sobre los movimientos de los participantes de acuerdo a la fecha, complejo y deporte.</p>
	</div>


	<div class="proceso">
	
	</div>

	{% if app.user.idComplejo == 0 %}
	<div class="container container-analista">

		<strong><h2 class="text-center">Parametros de Exportación</h2></strong>

		<div class="container-card col-xs-12 col-sm-8 col-md-5  col-lg-5  col-md-offset-1">
			<div class="card">	
				<p class="title-card text-center">Beneficiarios</p>
				<div class="alert alert-success">
					<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
					<p class="text-center">Lista de beneficiarios hasta su último estado.</p>
				</div>
				<hr>
				<div class="row">

					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

						
						<label>Hasta el mes de</label>
						<select class="form-control" id="select-mes" >

							<option value="">--Seleccionar--</option>
							{% for mes in meses %}
								{% if cont  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont <= mesInicioFinTemporada['mes_fin_temporada'] %}
									<option value="{{cont}}">{{mes}}</option>
								{% endif %}
							{% set cont = cont + 1 %}
							{% endfor %}
						</select>

					</div>

					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

						<label>Departamentos</label>
						<select class="form-control"  id="select-departamento" onchange="cambiarDepartamentoExport(this)" >
							{% if app.user.idPerfil == 2 %}	
								<option value="">--Seleccionar--</option>
							{% endif %}
				        	{% for  dep in  departamentosAll  %}
								{% for depFlag in departamentosExport %}
									{%  if dep['id'] == depFlag['idDepartamento'] %}
										<option value="{{dep['id']}}">{{dep['nombre']}}</option>
									{% endif %}
								{% endfor %}
				        	{% endfor %}	
				    	</select>

					</div>

				</div>

				<div class="container-button-exportPREINS">
					<button class="btn btn-danger" id="export-beneficiarios-analista">Descargar Beneficiarios</button>
				</div>

			</div>		   
		</div>

		<div class="container-card col-xs-12 col-sm-8 col-md-5 col-lg-5">
			<div class="card">	
				<p class="title-card text-center" >Informes</p>
				<div class="alert alert-success">
					<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
					<p>Resumen de inscritos totales/vigentes y retiros.</p>
				</div>
				<hr>
				<div class="row">
					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

						<label>Hasta el mes de</label>
						<select class="form-control" id="select-mes-informe">
							<option value="">--Seleccionar--</option>
							{% for mes in meses %}

								{% if cont2  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont2 <= mesInicioFinTemporada['mes_fin_temporada'] %}

									<option value="{{cont2}}">{{mes}}</option>
								
								{% endif %}

							{% set cont2 = cont2 + 1 %}
							{% endfor %}
						</select>

					</div>

					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

						<label>Reporte</label>
						<select class="form-control"  id="select-informe" >
							<option value="1" >Regional</option>
							<option value="2">Lima-Callao</option>
				    	</select>

					</div>
				</div>


				<div class="container-button-exportPREINS">
					<button class="btn btn-danger" id="export-informe">Descargar Informes</button>
				</div>

			</div>		   
		</div>

		<div class="container-card col-xs-12 col-sm-12 col-md-12  col-lg-8  col-lg-offset-2 ">
			<div class="card">	
				<p class="title-card text-center">Gestión de Procesos</p>
				<hr>
				<div class="row">
					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6  container-button-gp">
						<button class="btn btn-danger" id="export-horario-creados" >REPORTE DE INSCRITOS POR HORARIO</button>
					</div>

					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 container-button-gp container-analista">
						<button class="btn btn-danger" id="export-usuarios-password-complejos" >USUARIOS CONTRASEÑAS DE COMPLEJOS</button>
					</div>
				</div>


			</div>		   
		</div>
	</div>
	{% endif %}

	<!--CONTAINER COMPLEJO-->
	{%  if app.user.idComplejo != 0 %}
	<div class="container container-complejo">

		<strong><h2 class="text-center">Parametros de Exportación</h2></strong>

		<div class="container-card col-xs-12 col-sm-8 col-md-6  col-lg-6  col-md-offset-3">
			<div class="card">	
				<p class="title-card text-center">Beneficiarios</p>
				<div class="alert alert-success">
					<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
					<p class="text-center" >Lista de beneficiarios acumulados hasta su último estado.</p>
				</div>
				<hr>
				<div class="row">

					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 ">

						<label for="select-mes">Hasta el mes de</label>
						<select class="form-control" id="select-mes" >

							<option value="">--Seleccionar--</option>
							{% for mes in meses %}

								{% if cont  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont <= mesInicioFinTemporada['mes_fin_temporada'] %}
									<option value="{{cont}}">{{mes}}</option>
								
								{% endif %}	
							{% set cont = cont + 1 %}

							{% endfor %}
						</select>

					</div>
				</div>

				<div class="container-button-exportPREINS">
					<button class="btn btn-danger" id="export-beneficiarios-complejo">Descargar Beneficiarios</button>
				</div>

			</div>		   
		</div>

		<div class="container-card col-xs-12 col-sm-12 col-md-12  col-lg-6  col-lg-offset-3 ">
			<div class="card">	
				<p class="title-card text-center">Gestión de Procesos</p>
				<hr>
				<div class="row">
					<div class="form-group col-xs-6 col-sm-6 col-md-10 col-lg-12  container-button-gp">
						<button class="btn btn-danger" id="export-horario-creados" >REPORTE DE INSCRITOS POR HORARIO</button>
					</div>
				</div>


			</div>		   
		</div>
	</div>
	{% endif %}

</div>
<hr>
</section>
<br>
<br>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>
				<br>
				<br>
				<img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.png')}}">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>La Academia</h4>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>Enlaces de Interés</h4>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>
</footer>

<h1></h1>

{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

<script>
	
	const $containerCompelejo = $(".container-complejo");
	const $containerAnalista = $(".container-analista");
		
	const $exportBeneficiariosAnalista = $("#export-beneficiarios-analista");
	const $exportBeneficiariosComplejo = $("#export-beneficiarios-complejo");

	const $exportInforme = $("#export-informe");
	const $selectInforme = $("#select-informe");
	const $selectMesInforme = $("#select-mes-informe");


	const $exportHorarioCreados = $("#export-horario-creados");
	const $exportUsuariosPasswordComplejos = $("#export-usuarios-password-complejos");

	
	const $containerDepartamento = $("#container-departamento");
	const $selectMes = $("#select-mes");
	const $selectDepartamento = $("#select-departamento");

	
	$exportBeneficiariosAnalista.on('click',function(){

			location.href='exportDataBeneficiariosAnalista?mes='+$selectMes.val()+'&departamento='+$selectDepartamento.val()+'&idTemporada={{idTemporadaHabilitada}}';
	});

	$exportBeneficiariosComplejo.on('click',function(){

			location.href='exportDataBeneficiariosComplejo?mes='+$selectMes.val()+'&idTemporada={{idTemporadaHabilitada}}';
	});

	$exportInforme.on('click',function(){
	
		if ($selectInforme.val() == 1)
			location.href='exportInscripcionesRegiones?mes='+$selectMesInforme.val()+'&idTemporada={{idTemporadaHabilitada}}';
		else if($selectInforme.val() == 2)
			location.href='exportInscripcionesLimaCallaos?mes='+$selectMesInforme.val()+'&idTemporada={{idTemporadaHabilitada}}';
	});


	$exportHorarioCreados.on('click',function(){
		location.href='exportCantidadHorariosCreadosRegion?idComplejo='+'{{app.user.idComplejo}}'+'&idTemporada={{idTemporadaHabilitada}}';
	});

	$exportUsuariosPasswordComplejos.on('click',function(){
		location.href='exportCantidadUsuarios';
	});

</script>

{% endblock %}

