
{% extends '::base.html.twig' %}
{% block title %}Exportacion{% endblock %}

{% block body  %}

<header>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<span class="navbar-text">
					<h3>TEMPORADA {{descripcionTemporada[0]['ciclo']}}-{{descripcionTemporada[0]['anio']}}</h3>
				</span>
				<br>
				<ul class="nav navbar-nav navbar-right">
                    <li title="Inicio"><a href="{{url('akademia_panel',{'idTemporada':idTemporada})}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
				</ul>
				<span class="navbar-text navbar-right" style="margin-right:30px;">
					Usuario: <b>{{app.user.username}}</b>
				</span>
			</div>
		</div>
	</nav>
</header>

<section>

	{% set meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'] %}
	{% set cont = 1 %}
	{% set cont2 = 1 %}		

	<div class="proceso">

		<h2 class="text-center">Módulo de exportación</h2>
		<h4 style="color:grey">EXPORTACIÓN EN FORMATO CSV</h4>

		<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px;">
			<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
			<p>En este módulo podrás exportar data sobre los movimientos de los participantes de acuerdo a la fecha, complejo y deporte.</p>
		</div>

		<div class="container container-analista">

			<strong><h2 class="text-center">Parametros de Exportación</h2></strong>

			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MACRO') %}

				<div class="container-card col-xs-12 col-sm-8 col-md-5  col-lg-5  col-md-offset-1">
					<div class="card">	
						<p class="title-card text-center">Beneficiarios</p>
						<div class="alert alert-success">
							<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p class="text-center">Lista de beneficiarios hasta su último estado.</p>
						</div>
						<hr>
						<div class="row">
							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<label>Hasta el mes de</label>
								<select class="form-control" id="select-mes" >

									<option value="">--Seleccionar--</option>
									{% for mes in meses %}
										{% if cont  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont <= mesInicioFinTemporada['mes_fin_temporada'] %}
											<option value="{{cont}}">{{mes}}</option>
										{% endif %}
									{% set cont = cont + 1 %}
									{% endfor %}
								</select>

							</div>

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

								<label>Departamentos</label>
								<select class="form-control"  id="select-departamento" >
									{% if app.user.idPerfil == 2 %}	
										<option value="">--Seleccionar--</option>
									{% endif %}
						        	{% for  dep in  departamentosAll  %}
										{% for depFlag in departamentosExport %}
											{%  if dep['id'] == depFlag['idDepartamento'] %}
												<option value="{{dep['id']}}">{{dep['nombre']}}</option>
											{% endif %}
										{% endfor %}
						        	{% endfor %}	
						    	</select>

							</div>

						</div>

						<div class="container-button-exportPREINS">
							<button class="btn btn-danger" id="export-beneficiarios-admin-macro">Descargar Beneficiarios</button>
						</div>

					</div>		   
				</div>

			{% endif %}

			{% if is_granted('ROLE_MONITOR') %}

				<div class="container-card col-xs-12 col-sm-8 col-md-5  col-lg-5  col-md-offset-1">
					<div class="card">	
						<p class="title-card text-center">Beneficiarios</p>
						<div class="alert alert-success">
							<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p class="text-center">Lista de beneficiarios hasta su último estado.</p>
						</div>
						<hr>
						<div class="row">
							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<label>Hasta el mes de</label>
								<select class="form-control" id="select-mes" >

									<option value="">--Seleccionar--</option>
									{% for mes in meses %}
										{% if cont  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont <= mesInicioFinTemporada['mes_fin_temporada'] %}
											<option value="{{cont}}">{{mes}}</option>
										{% endif %}
									{% set cont = cont + 1 %}
									{% endfor %}
								</select>

							</div>

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

								<label>Provincias</label>
								<select class="form-control"  id="select-provincia" >
										{% for prov in provinciasExport %}
												<option  data-departamento-id="{{prov['idDepartamento']}}" value="{{prov['idProvincia']}}">{{prov['nombreProvincia']}}</option>
										{% endfor %}
						    	</select>
							</div>
						</div>

						<div class="container-button-exportPREINS">
							<button class="btn btn-danger" id="export-beneficiarios-monitor">Descargar Beneficiarios</button>
						</div>

					</div>		   
				</div>

			{% endif %}

			{% if is_granted('ROLE_PROMOTOR') %}

				<div class="container-card col-xs-12 col-sm-8 col-md-5  col-lg-5  col-md-offset-1">
					<div class="card">	
						<p class="title-card text-center">Beneficiarios</p>
						<div class="alert alert-success">
							<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p class="text-center">Lista de beneficiarios hasta su último estado.</p>
						</div>
						<hr>
						<div class="row">
							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<label>Hasta el mes de</label>
								<select class="form-control" id="select-mes" >

									<option value="">--Seleccionar--</option>
									{% for mes in meses %}
										{% if cont  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont <= mesInicioFinTemporada['mes_fin_temporada'] %}
											<option value="{{cont}}">{{mes}}</option>
										{% endif %}
									{% set cont = cont + 1 %}
									{% endfor %}
								</select>

							</div>

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

								<label>Complejo</label>
								<select class="form-control" id="select-complejo">
									
										{% for comp in complejosExport %}
											<option  value="{{comp['complejoId']}}">{{comp['complejoNombre']}}</option>
										{% endfor %}
						    	</select>
							</div>
						</div>

						<div class="container-button-exportPREINS">
							<button class="btn btn-danger" id="export-beneficiarios-promotor">Descargar Beneficiarios</button>
						</div>

					</div>		   
				</div>

			{% endif %}

			{% if is_granted('ROLE_PROFESOR') %}

				<div class="container-card col-xs-12 col-sm-8 col-md-5  col-lg-8  col-md-offset-2">
					<div class="card">	
						<p class="title-card text-center">Beneficiarios</p>
						<div class="alert alert-success">
							<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p class="text-center">Lista de beneficiarios hasta su último estado.</p>
						</div>
						<hr>
						<div class="row">

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4">
								<label>Hasta el mes de</label>
								<select class="form-control" id="select-mes" >
									<option value="">--Seleccionar--</option>
									{% for mes in meses %}
										{% if cont  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont <= mesInicioFinTemporada['mes_fin_temporada'] %}
											<option value="{{cont}}">{{mes}}</option>
										{% endif %}
									{% set cont = cont + 1 %}
									{% endfor %}
								</select>
							</div>

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4">

								<label>Complejo</label>
								<select class="form-control"  id="select-complejo">
									<option value="">--seleccionar--</option>
									{% for comp in complejosExport %}
										<option  value="{{comp['complejoId']}}">{{comp['complejoNombre']}}</option>
									{% endfor %}
						    	</select>
							</div>

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4">
								<label>Disciplina</label>
								<select class="form-control" id="select-disciplina">
									<option value="">--Seleccionar--</option>
						    	</select>
							</div>

						</div>

						<div class="container-button-exportPREINS">
							<button class="btn btn-danger" id="export-beneficiarios-profesor">Descargar Beneficiarios</button>
						</div>

					</div>		   
				</div>

			{% endif %}

			{% if is_granted('ROLE_ADMIN') %}

				<div class="container-card col-xs-12 col-sm-8 col-md-5 col-lg-5">
					<div class="card">	
						<p class="title-card text-center" >Informes</p>
						<div class="alert alert-success">
							<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p>Resumen de inscritos totales/vigentes y retiros.</p>
						</div>
						<hr>
						<div class="row">
							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<label>Hasta el mes de</label>
								<select class="form-control" id="select-mes-informe">
									<option value="">--Seleccionar--</option>
									{% for mes in meses %}

										{% if cont2  >= mesInicioFinTemporada['mes_inicio_temporada'] and cont2 <= mesInicioFinTemporada['mes_fin_temporada'] %}
											<option value="{{cont2}}">{{mes}}</option>
										{% endif %}

									{% set cont2 = cont2 + 1 %}
									{% endfor %}
								</select>
							</div>

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">

								<label>Reporte</label>
								<select class="form-control"  id="select-informe" >
									<option value="1" >Regional</option>
									<option value="2">Lima-Callao</option>
						    	</select>
							</div>
						</div>

						<div class="container-button-exportPREINS">
							<button class="btn btn-danger" id="export-informe-admin">Descargar Informes</button>
						</div>

					</div>		   
				</div>

				<div class="container-card col-xs-12 col-sm-12 col-md-12  col-lg-8  col-lg-offset-2 ">
					<div class="card">	
						<p class="title-card text-center">Gestión de Procesos</p>
						<hr>
						<div class="row">
							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6  container-button-gp">
								<button class="btn btn-danger" id="export-horario-creados-admin" >REPORTE DE INSCRITOS POR HORARIO</button>
							</div>

							<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 container-button-gp container-analista">
								<button class="btn btn-danger" id="export-usuarios-password-complejos" >USUARIOS CONTRASEÑAS DE COMPLEJOS</button>
							</div>
						</div>
					</div>		   
				</div>
			{% endif %}



		</div>
	</div>
</section>

<br>
<br>

{% include 'AkademiaBundle:Footer:footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

<script>
	
	const $exportBeneficiariosAdminMacro = $("#export-beneficiarios-admin-macro");
	const $exportBeneficiariosMonitor = $("#export-beneficiarios-monitor");
	const $exportBeneficiariosPromotor = $("#export-beneficiarios-promotor");
	const $exportBeneficiariosProfesor = $("#export-beneficiarios-profesor");

	const $exportInformeAdmin = $("#export-informe-admin");
	const $selectInforme = $("#select-informe");
	const $selectMesInforme = $("#select-mes-informe");

	const $exportHorarioCreadosAdmin = $("#export-horario-creados-admin");
	const $exportUsuariosPasswordComplejos = $("#export-usuarios-password-complejos");

	const $selectMes = $("#select-mes");
	const $selectDepartamento = $("#select-departamento");
	const $selectProvincia = $("#select-provincia");
	const $selectComplejo = $("#select-complejo");
	const $selectDisciplina = $("#select-disciplina");

	$exportBeneficiariosAdminMacro.on('click',function(){

		location.href='exportDataBeneficiariosAdminMacro?mes='+$selectMes.val()+'&departamento='+$selectDepartamento.val()+'&idTemporada={{idTemporada}}';
	});

	$exportBeneficiariosMonitor.on('click',function(){
		
		let departamentoId = $('option:selected', $selectProvincia).attr('data-departamento-id');

		location.href='exportDataBeneficiariosMonitor?mes='+$selectMes.val()+'&departamento='+departamentoId+'&provincia='+$selectProvincia.val()+'&idTemporada={{idTemporada}}';
	});

	$exportBeneficiariosPromotor.on('click',function(){
		
		location.href='exportDataBeneficiariosPromotor?mes='+$selectMes.val()+'&idComplejo='+$selectComplejo.val()+'&idTemporada={{idTemporada}}';
	});

	$exportBeneficiariosProfesor.on('click',function(){
		
		if( $selectDisciplina.val() != "" ){
			location.href='exportDataBeneficiariosProfesor?mes='+$selectMes.val()+'&idComplejo='+$selectComplejo.val()+'&idDisciplina='+$selectDisciplina.val()+'&idTemporada={{idTemporada}}';
		}else{
			alertify.warning("<p style='color:black;font-weight:bold;' >Debe seleccionar una disciplina para poder exportar datos de beneficiarios.!</p>");
		}
	});

	$selectComplejo.on('change',function(){

		{% if is_granted('ROLE_PROFESOR') %}

			$selectDisciplina.empty();
			$selectDisciplina.append("<option value=''>--Seleccionar--</option>");

			{% for  dis in disciplinasExport %}

				if("{{dis['complejoId']}}" == $selectComplejo.val() )
					$selectDisciplina.append("<option data-complejo-id = {{dis['complejoId']}} value={{dis['disciplinaId']}}>{{dis['disciplinaNombre']}}</option>");
			{% endfor %}

		{% endif %}
	});

	$exportInformeAdmin.on('click',function(){
	
		if ($selectInforme.val() == 1)
			location.href='exportInscripcionesRegiones?mes='+$selectMesInforme.val()+'&idTemporada={{idTemporada}}';
		else if($selectInforme.val() == 2)
			location.href='exportInscripcionesLimaCallaos?mes='+$selectMesInforme.val()+'&idTemporada={{idTemporada}}';
	});

	$exportHorarioCreadosAdmin.on('click',function(){
		location.href='exportCantidadHorariosCreadosRegion?idComplejo='+'{{app.user.idComplejo}}'+'&idTemporada={{idTemporada}}';
	});

	$exportUsuariosPasswordComplejos.on('click',function(){
		location.href='exportCantidadUsuarios';
	});

</script>

{% endblock %}

