{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<header>
	
	<nav class="navbar navbar-inverse" role="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<span class="navbar-text">
					<h3>TEMPORADA {{descripcionTemporada[0]['ciclo']}}-{{descripcionTemporada[0]['anio']}}</h3>
				</span>
				<br>
				<ul class="nav navbar-nav navbar-right">
					<li title="Inicio"><a href="{{url('akademia_panel',{'idTemporada':idTemporada})}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
					<li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
				</ul>
				<span class="navbar-text navbar-right" style="margin-right:30px;">
					Usuario: <b>{{app.user.username}}</b>
				</span>
			</div>
		</div>
	</nav>
</header>

<section class="proceso-inscripcion">
		<div id="proceso1" class="proceso" style="margin-bottom: 60px;">

			<div id="ficha-participante-container" class="container-card col-xs-12 col-sm-10 col-md-10 col-lg-10">
    				<p style="float: left;" class="align-middle"><img src="{{ asset('assets/images/disciplina.png') }}" width="80" height="80"></p>
    				<h1 class="align-middle" style="margin-left: 120px;">Complejos Deportivos</h1>
			</div>

			<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert">
				<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
				<p>Asigna las disciplinas de la temporada en curso según sus modalidades y su configuración.</p>
			</div>

			<div id="ficha-participante-container" class="container-card col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<div class="card">
					<div class="card-header text-center" role="tab">
						<h3>Deportes Generales</h3> 
					</div>
					<hr>
					<div class="card-body">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="input-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
								 	<span class="input-group-addon">Buscar</span>
								  	<input class="filtrar form-control" type="text" placeholder=" ingresa los campos a buscar">
								</div>
								<br>
									
								<div id="container-table-complejo">
									{% include 'AkademiaBundle:Complejo:table_complejo.html.twig' %}
								</div>

								<div class="row">
									<div class="col-md-2 col-md-offset-10">
										<div style="padding:20px 0 10px 50px;">
											<button class="btn btn-danger" data-toggle="modal" data-target="#modal-crear">Crear</button>
										</div>
										
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

{% include 'AkademiaBundle:Footer:footer.html.twig' %}

{% include 'AkademiaBundle:Complejo:modal_crear_complejo.html.twig' %}
{% include 'AkademiaBundle:Complejo:modal_editar_complejo.html.twig' %}

{% endblock %}

{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

<script>
	

	$departamentoComplejo = $("select[name=departamento-complejo]");
	$provinciaComplejo = $("select[name=provincia-complejo]");
	$distritoComplejo = $("select[name=distrito-complejo]");


	/*EDITAR*/
	$departamentoComplejoEditar = $("#departamento-complejo-editar");
	$provinciaComplejoEditar = $("#provincia-complejo-editar");
	$distritoComplejoEditar = $("#distrito-complejo-editar");
	$codigoComplejoEditar = $("#codigo-complejo-editar");
	$nombreComplejoEditar = $("#nombre-complejo-editar");
	$tipoComplejoEditar = $("#tipo-complejo-editar");
	$estadoComplejoEditar = $("#estado-complejo-editar");
	$latitudComplejoEditar = $("#latitud-complejo-editar");
	$longitudComplejoEditar = $("#longitud-complejo-editar");

	/*CREAR*/
	$departamentoComplejoCrear = $("#departamento-complejo-crear");
	$provinciaComplejoCrear = $("#provincia-complejo-crear");
	$distritoComplejoCrear = $("#distrito-complejo-crear");
	$codigoComplejoCrear = $("#codigo-complejo-editar");
	$nombreComplejoCrear = $("#nombre-complejo-editar");
	$tipoComplejoCrear = $("#tipo-complejo-editar");
	$estadoComplejoCrear = $("#estado-complejo-editar");
	$latitudComplejoCrear = $("#latitud-complejo-editar");
	$longitudComplejoCrear = $("#longitud-complejo-editar");

	$btnEditarComplejo = $("#btn-editar-complejo");
	$btnCrearComplejo = $("#btn-crear-complejo");

	$containerTableComplejo = $("#container-table-complejo");


	$nombreComplejoCrear = $("#nombre-complejo-crear");
	$tipoComplejoCrear = $("#tipo-complejo-crear");
	$estadoComplejoCrear = $("#estado-complejo-crear");
	$latitudComplejoCrear = $("#latitud-complejo-crear");
	$longitudComplejoCrear = $("#longitud-complejo-crear");

	const getComplejoById = function( complejoId ){

		var datos = { 'codigoComplejo': complejoId };

		$.ajax({
			type:'POST',
			url: "{{url('akademia_getComplejoById')}}",
			data: datos,
			beforeSend: function(){		
			},
			success: function(data){

				dataComplejo = data[0];
				$codigoComplejoEditar.text(dataComplejo.complejoId);
				$nombreComplejoEditar.val(dataComplejo.complejoNombre);
				$tipoComplejoEditar.val(dataComplejo.complejoTipo);
				$estadoComplejoEditar.val(dataComplejo.complejoEstado);
				$latitudComplejoEditar.val(dataComplejo.latitud);
				$longitudComplejoEditar.val(dataComplejo.longitud);


				{% for dep in departamentos %}

					if( "{{dep['id']}}" == dataComplejo.departamento )
						$departamentoComplejo.append("<option selected value={{dep['id']}}>{{dep['nombre']}}</option>")
					else
						$departamentoComplejo.append("<option value={{dep['id']}}>{{dep['nombre']}}</option>")

				{% endfor %}

				{% for prov in provincias %}

					if( "{{prov['idDepartamento']}}" == dataComplejo.departamento && "{{prov['idProvincia']}}" == dataComplejo.provincia )

						$provinciaComplejo.append("<option selected value={{prov['idProvincia']}} data-departamento={{prov['idDepartamento']}} >{{prov['nombreProvincia']}}</option>")

					else if( "{{prov['idDepartamento']}}" == dataComplejo.departamento )

						$provinciaComplejo.append("<option value={{prov['idProvincia']}} data-departamento={{prov['idDepartamento']}} >{{prov['nombreProvincia']}}</option>")
					
				{% endfor %}

				{% for dis in distritos %}

					if( "{{dis['idDepartamento']}}" == dataComplejo.departamento && "{{dis['idProvincia']}}" == dataComplejo.provincia && "{{dis['idDistrito_2']}}" == dataComplejo.distrito )
						$distritoComplejo.append("<option selected value={{dis['idDistrito']}}>{{dis['nombreDistrito']}}</option>")

					else if( "{{dis['idDepartamento']}}" == dataComplejo.departamento && "{{dis['idProvincia']}}" == dataComplejo.provincia )
						$distritoComplejo.append("<option value={{dis['idDistrito']}}>{{dis['nombreDistrito']}}</option>")

				{% endfor %}

			},
			error: function(error){
				alertify.error('<p style="color:white">Error </p>');	
				console.log(error);
			},
		});
	};

	const cambiarDepartamento = function(departamento){
		
		idDepartamento = departamento.value;

		$distritoComplejo.empty();
		$provinciaComplejo.empty();

		$provinciaComplejo.append("<option value='' >--Seleccionar--</option>");
		$distritoComplejo.append("<option value='' >--Seleccionar--</option>");

		{% for prov in provincias  %}

			if("{{prov['idDepartamento']}}" == idDepartamento)
				$provinciaComplejo.append("<option value={{prov['idProvincia']}} data-departamento={{prov['idDepartamento']}} >{{prov['nombreProvincia']}}</option>")
				
		{% endfor %}
	}

	const cambiarProvincia = function(provincia){
		
		idProvincia = provincia.value;
		$distritoComplejo.empty();

		idDepartamento = $(provincia[1]).attr('data-departamento');

		$distritoComplejo.append("<option value='' >--Seleccionar--</option>");

		{% for dis in distritos  %}

			if( "{{dis['idDepartamento']}}" == idDepartamento && "{{dis['idProvincia']}}" == idProvincia )
				$distritoComplejo.append("<option value={{dis['idDistrito']}} >{{dis['nombreDistrito']}}</option>");
				
		{% endfor %}
	}

	const editarComplejo = function(){


		var datos = {
			'codigo': $codigoComplejoEditar.text(),
			'nombre': $nombreComplejoEditar.val(),
			'ubicodigo': $distritoComplejoEditar.val(),
			'tipo': $tipoComplejoEditar.val(),
			'estado': $estadoComplejoEditar.val(),
			'latitud': $latitudComplejoEditar.val(),
			'longitud': $longitudComplejoEditar.val()
		};

		$.ajax({
				
			type:'POST',
			url: "{{url('akademia_complejosEditar')}}",
			data: datos,
			beforeSend: function(){

				console.log("Enviando Datos a Editar =>",datos);
				$btnEditarComplejo.attr('disabled');			
			},
			success: function(data){

				if(data == -1){
					alertify.warning('<p style="color:black">Existen Campos Vacios!.</p>');
				}else if(data == 0){
					alertify.warning('<p style="color:black">Ocurrio Error a la hora de Editar!.</p>');
				}else{

					$("#container-table-complejo").html(data);

					alertify.success('<p style="color:white">Se edito correctamente!.</p>');
				}
			},
			error: function(error){
				alertify.error('<p style="color:white">Error </p>');	
				console.log(error);
			},
		});	
	};

	const crearComplejo = function(){

		var datos = {
			'nombre': $nombreComplejoCrear.val(),
			'ubicodigo': $distritoComplejoCrear.val(),
			'tipo': $tipoComplejoCrear.val(),
			'estado': $estadoComplejoCrear.val(),
			'latitud': $latitudComplejoCrear.val(),
			'longitud': $longitudComplejoCrear.val()
		};
		console.log("Datos a Crear =>",datos);
		$.ajax({
				
			type:'POST',
			url: "{{url('akademia_complejosCrear')}}",
			data: datos,
			beforeSend: function(){

				$btnCrearComplejo.attr('disabled');			
			},
			success: function(data){
				
				if(data == -1){
					alertify.warning('<p style="color:black">Existen Campos Vacios!.</p>');
				}else if(data == 0){
					alertify.warning('<p style="color:black">Ocurrio Error a la hora de Editar!.</p>');
				}else{

					$("#container-table-complejo").html(data);

					alertify.success('<p style="color:white">Se creo correctamente!.</p>');
				}
			},
			error: function(error){
				alertify.error('<p style="color:white">Error </p>');	
				console.log(error);
			},
		});	
	};


	$btnEditarComplejo.on('click',editarComplejo);
	$btnCrearComplejo.on('click',crearComplejo);

</script>


{% endblock %}