{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<header>
	 <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>                       
                <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="logoAcademia" style="float:left;"/>                                               
            </div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<span class="navbar-text">
					<h3>TEMPORADA {{descripcionTemporada[0]['ciclo']}}-{{descripcionTemporada[0]['anio']}}</h3>
				</span>
				<br>
				<ul class="nav navbar-nav navbar-right">
                    <li title="Inicio"><a href="{{url('akademia_panel',{'idTemporada':idTemporada})}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
				</ul>
				<span class="navbar-text navbar-right" style="margin-right:30px;">
					Usuario: <b>{{app.user.username}}</b>
				</span>
			</div>
        </div>
    </nav>
</header>

<section  id="inscribete"  class="proceso-inscripcion">

	<input type="hidden"  id="inputHiddenIdTemporada" value="{{idTemporada}}">	

		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<p style="font-size:1.3em;font-weight:bold;padding-top:25px;">Disciplina/Horario/Beneficiario</p>
				</div>

				{% if is_granted('ROLE_MACRO') or is_granted('ROLE_ADMIN') or is_granted('ROLE_MONITOR') %}
					<div class="col-lg-4">
						<div class="form-group">

							{% if is_granted('ROLE_MACRO') or is_granted('ROLE_ADMIN') %}

								<label>Departamento</label>
								<select class="form-control" id="departamento" name="departamento" onchange="cambiarDepartamento(this)">
									<option value="" >--Seleccionar--</option>
									{% for dep in ubigeos %}
										<option  value={{dep['id']}}>{{dep['nombre']}}</option>
									{% endfor %} 
								</select>

							{% elseif is_granted('ROLE_MONITOR') %}

								<label>Provincia</label>
								<select class="form-control" id="provincia" name="provincia" onchange="cambiarProvincia(this)">
									<option value="" >--Seleccionar--</option>
									{% for prov in ubigeos %}
										<option  data-departamento="{{prov['idDepartamento']}}" value={{prov['idProvincia']}}>{{prov['nombre']}}</option>
									{% endfor %} 
								</select>							
							{% endif %}

						</div>
					</div>
				{% endif %}

				{% if  is_granted('ROLE_PROFESOR')  == false %}
					<div class="col-lg-4">
						<div class="form-group">
							<label>Complejo</label>
							<select class="form-control"  id="complejo" name="complejo" onchange="cambiarComplejo(this)" >
								<option value="" >--Seleccionar--</option>
								{%  if is_granted('ROLE_PROMOTOR') %}
									{% for comp in complejos %}
										<option value="{{comp['complejoId']}}">{{comp['complejoNombre']}}</option>
									{% endfor %}
								{% endif %} 
							</select>
						</div>
					</div>
				{% endif %}

			</div>
		</div>

		<div id="proceso1" class="proceso" style="margin-bottom: 60px;min-height: 26.4vh;" >	
		    
			<div id="container-complejo-disciplina-horarios" style="width:100%;" >
				{% if is_granted('ROLE_PROFESOR') %}
					{% include 'AkademiaBundle:Disciplina_Horario_Beneficiario:table_disciplina_horario_beneficiario.html.twig' %}
				{% endif %}
			</div>
			
			<hr>
		</div>

		<input type="hidden" id="input-id-complejo-crear">
		<input type="hidden" id="input-id-complejo-editar">
		<input type="hidden" id="input-id-complejo-eliminar">

{% include 'AkademiaBundle:Footer:footer.html.twig' %}

</section>

<!-- modal -->
<div id="modal-editar" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div id="alert-editar-info" class="alert alert-warning alert-dismissible text-center" role="alert">
								<button id="btn-close-alert-editar-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
								<p style="font-size:14px">Edición de las vacantes y convocatoria.</p>
							</div>
							<ul class="list-group">

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Código</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_codigo_horario"></p>
											<input type="hidden" id="idDisciplina">
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">

										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Modalidad</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-3 col-lg-3">
											<p id="editar_modalidad_horario"></p>
											<input type="hidden" id="modalidad">
										</div>

										<div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
											<p><strong>Etapa</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-4 col-lg-4">

											<select class="form-control" id="editar_etapa_horario">
												<option value="">--Seleccionar--</option>
												<option value="0">Formación</option>
												<option value="1">Masificación</option>
											</select>
											<input type="hidden" id="etapa">
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										
										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Edades</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-3 col-lg-3">
											<p id="editar_edades_horario"></p>
										</div>

										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Disciplina</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-3 col-lg-3">
											<p id="editar_disciplina_horario"></p>
										</div>

									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										
										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Turnos y Horarios</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-5 col-lg-5">
											<div id="editar_frecuencia_horario"></div>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-4 col-lg-4">
											<div id="editar_dias_horario"></div>
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Vacantes disponibles</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<input class="form-control" id="editar_vacantes_horario" name="editar_vacantes_horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
											/>	
										</div>
									</div>
								</li>					

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Límite de preinscritos</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<input class="form-control" id="editar_preinscripciones_horario" name="editar_preinscripciones_horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
											/>	
										</div>
									</div>
									<br>
									<p style="font-size:12px; color:grey"> * El Nº de vacantes de preinscritos debe ser mayor al Nº de vacantes de inscritos.</p>
								</li>					


								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Convocatoria</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<select class="form-control" id="editar_convocatoria_horario">
												<option value=""> --Seleccionar--</option>
												<option value="1">Abierto</option>
												<option value="0">Cerrado</option>
											</select>
										</div>
									</div>
								</li>	

							</ul>
							<div id="alerta-errorEditarVacante" class="alert alert-danger collapse text-center"></div>
						</div>
						<hr>
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-ld-12 ">
							<div class="row">
								<div class="form-group col-xs-9 col-sm-9 col-md-9 col-ld-9">
									<p style="color:grey"> ¿Deseas eliminar este horario?</p>
								</div>
								<div class="form-group col-xs-3 col-sm-3 col-md-3 col-ld-3 accordion">  
									<div class="input-group">
		  								<span class="input-group-addon">
		    								<input type="checkbox" name="cbx-horario" id="cbx-horario" value="1">
		  								</span>
		  								<p type="text" class="form-control">Si</p>
									</div>
								</div>
							</div>
							<br>
							<div id="advertencia" class="alert alert-danger collapse text-center">
								<p style="font-size:14px">Recuerda que no se podrá recuperar este horario y la lista de sus beneficiarios ya no serán visibles.</p>
							</div>	
						</div>
					</div>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input id="btn-actualizar" type="button" class="btn btn-danger" data-dismiss="modal" onclick="actualizarHorario()" value="Actualizar">
			
			</div>
		</div>
	</div>
</div>


<!--MODAL CREAR HORARIO-->
<div id="modal-crear" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>

			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="alert-crear-info" class="alert alert-warning alert-dismissible text-center" role="alert">
							<button id="btn-close-alert-crear-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p style="font-size:14px">¡Cuidado! Evita crear horarios iguales. </p>
						</div>
						<div id="alerta-errorCrear" class="alert alert-danger collapse text-center"></div>

						<ul class="list-group">

							<li class="list-group-item">

								<div class="row">
									<input type="hidden" name="idDisciplinaNewHorario" id="idDisciplinaNewHorario" >
									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
										<p><strong>Modalidad</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" >
										<select class="form-control" id="modalidad-horario" >
											<option value="">--Seleccionar--</option>
											<option value="0">Convencional</option>
											<option value="1">Persona con Discapacidad</option>
										</select>
									</div>

									<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
										<p><strong>Etapa</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" style="margin-left:12px;" >
										<select class="form-control" id="etapa-horario">
											<option value="">--Seleccionar--</option>
											<option value="0">Formación</option>
											<option value="1">Masificación</option>
										</select>
									</div>

								</div>

								<br>
								<p style="font-size:14px; color:grey;font-weight:bold;">Edades comprendidas: <span style="font-size:14px;" id="textEdad"></span></p>
							</li>

							<li class="list-group-item">

								<div class="row">

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<p><strong>Edad mínima</strong></p>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

												<input class="form-control" name="edad-minima" id="edad-minima"
												    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												    type = "number"
												    maxlength = "2"
												    min = "1"
												    max = "24"
												 />
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<p><strong>Edad máxima</strong></p>

											</div>

											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

												<input class="form-control" id="edad-maxima" name="edad-maxima"
												    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												    type = "number"
												    maxlength = "2"
												    min = "1"
												    max = "24"
												 />

											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="list-group-item">

								<div class="row">

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
										<p ><strong><b>Turnos y Horarios:</b></strong></p>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:8px;" >

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<p class="text-left"><strong>Frecuencia</strong></p>
										</div>

										<div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 "  >

											<label style="font-size:13.5px; font-weight:normal; "><input type="checkbox" id="Lun" value="1" onclick="elegirDias(this)">Lun</label>

											<label style="font-size:13.5px; font-weight:normal; margin-left:2px;"><input type="checkbox" id="Mar" value="2" onclick="elegirDias(this)">Mar</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Mie" value="3" onclick="elegirDias(this)">Miér</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Jue" value="4" onclick="elegirDias(this)">Juev</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Vie" value="5" onclick="elegirDias(this)"> Vier</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Sab" value="6" onclick="elegirDias(this)"> Sáb</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Dom" value="7" onclick="elegirDias(this)"> Dom</label>

										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:15px;" >

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<p class="text-left"><strong>Hora Inicio</strong></p>
										</div>

										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
											<div class="input-group">
												<span class="input-group-addon">hh</span>

												<input class="form-control placeholder " placeholder=" Ej: 9 " id="hora-inicio"
												    oninput="validateHora(this)" maxlength = "2" min = "0" max = "24"
												 />
											</div>
										</div>

										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<div class="input-group">
												<span class="input-group-addon">mm</span>
												
												<input class="form-control placeholder" placeholder=" Ej: 00 " id="min-inicio"
												    oninput="validateMinuto(this)" maxlength = "2" min = "0" max = "60"
												 />
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:15px;" >

									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<p class="text-left"><strong>Hora Fin</strong></p>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
										<div class="input-group">
											<span class="input-group-addon">hh</span>

											<input class="form-control placeholder" placeholder=" Ej: 10 " id="hora-fin"
											    oninput="validateHora(this)" maxlength = "2" min = "0" max = "24"
											 />
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="input-group">
											<span class="input-group-addon">mm</span>
											<input class="form-control placeholder" placeholder=" Ej: 00 " id="min-fin"
											    oninput="validateMinuto(this)" maxlength = "2" min = "0" max = "60"
											 />
										</div>
									</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="margin-bottom:15px;">
										<div class="col-xs-9 col-sm-9 col-md-9 col-lg-8">
											<p class="text-left" style="font-size:14px; color:grey;font-weight:bold;">El formato es de 24 horas.</p>
										</div>

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style=" display:flex; flex-wrap:wrap; justify-content:center; " >
											<button style="margin-left:20px;" class="btn btn-default" id="agregar-turnos">Agregar</button>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<p class="text-left" style="font-size:14px;"><strong>Seleccionados:</strong></p>
										</div>

										<div class="col-xs-3 col-sm-9 col-md-9 col-lg-9" style="background:#ffffcc;border-color:#fcf8e3;border-radius:2px;" id="container-turnos-seleccionados">
											<div id="turnos-seleccionados"  style="height:50px;" >
											</div>
										</div>
										<input type="hidden" name="flag-turnos" id="flag-turnos">
									</div>

								</div>
							</li>
			

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Vacantes disponibles</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<input class="form-control" id="vacantes-horario" name="vacantes-horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
										 />		
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Límite de preinscripciones</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<input class="form-control" id="preinscripciones-horario" name="preinscripciones-horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
										 />		
									</div>
								</div>
								<br>
								<p style="font-size:14px; color:grey;font-weight:bold;"> * El N° de Límite de pre-inscritos debe ser igual o mayor que el N° de vacantes disponibles.</p>
							</li>		
							<div id="alerta-errorCrearVacante" class="alert alert-danger collapse text-center"></div>
						</ul>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button id="btn-crear-horario" type="button" data-dismiss="modal" class="btn btn-danger" >Crear</button>
			</div>
		</div>
	</div>
</div>

<!--CREAR NUEVA DISCIPLINA-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarDisciplina">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background:#EBE6E5; color:white">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Mensaje de confirmación. </p>
      </div>
      <div class="modal-body">
      		<p class="text-center" style="color:grey">¿ Estás seguro de crear esta nueva disciplina ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-btn-si" >Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no">No</button>
      </div>
    </div>
  </div>
</div>

<!--NO SE PUEDE ELIMINAR HORARIO-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="errorEliminacionHorario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Advertencia</p>
      </div>
      <div class="modal-body">
      		<p class="text-center" style="color:grey"> Para eliminar este horario, deberá retirar a todos sus beneficiarios y volverlos a inscribir en un horario disponible.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarEliminarHorario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Mensaje de confirmación. </p>
      </div>
      <div class="modal-body">
      		<strong><p class="text-center" style="color:#B40404; font-weight:bold">¿Estás seguro de eliminar este horario? </p></strong>
      		<p class="" style="color:grey">
      		Recuerda que:<br>
			1) No podrás revertir el proceso. <br>
			2) La lista de beneficiarios asociados al horario ya no serán visibles.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-btn-si-horario">Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no-horario">No</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-confirmar-eliminar-horario" class="modal-migracion">
	<div class="modal-content-migracion">

	    <span class="close-migracion modal-close-confirmar-horario" >&times;</span>
	    <div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

				<div>
					<h3 class="text-bold text-warning" >¿Estás seguro de eliminar este horario?</h3>
				</div>
				<div>
					<p class="text-bold">Recuerda que:</p>
				</div>
				<ol>
					<li style="font-size:0.9em;font-weight:bold;" >No podrás revertir el proceso.</li>

					<li style="font-size:0.9em;">La lista de beneficiarios asociados al horario ya no serán visibles.</li>
				</ol>
			</div>
		</div>

		<div class="modal-migracion-footer">
			<button type="button" class="btn btn-default modal-close-confirmar-horario">No</button>
			<button type="button" class="btn btn-danger"  style="background-color:red;" onclick="eliminarHorario()">Si</button>
		</div>

	 </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarEliminarDisciplina">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Mensaje de confirmación. </p>
      </div>
      <div class="modal-body">
      		<strong><p class="text-center" style="color:#0B2161; font-weight:bold">¿Estás seguro de eliminar esta disciplina? </p></strong>
      		<p class="" style="color:grey">
      		Recuerda que:<br>
			Para la eliminación de una disciplina, no deben existir registros creados de horarios ni beneficiarios.</p>
      </div>
      <div class="modal-footer">
      	<strong><p class="text-center" style="color:#B40404; font-weight:bold">¿Desea continuar? </p></strong>

        <button type="button" class="btn btn-danger" id="modal-btn-si-disciplina" onclick="eliminarDisciplina()" data-dismiss="modal">Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no-disciplina" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="input-hidden-id-disciplina">

{% include 'AkademiaBundle:Disciplina_Horario_Beneficiario:modal_detalle_usuario_profesor.html.twig'%}
{% include 'AkademiaBundle:Disciplina_Horario_Beneficiario:modal_eliminar_usuario_profesor.html.twig'%}

{% endblock %}
{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="{{asset('assets/vendor/js/Horario/validacionesHorario2.js')}}"></script>
<script src="{{asset('assets/vendor/js/Horario/agregarTurnos.js')}}"></script>

<script type="text/javascript">
	
	var totalDisSelect = new Object();

	/**** ELIMINAR USUARIO ***/
	$usuarioIdEliminar = $("#usuario-id-eliminar");
	$usuarioPerfilIdEliminar = $("#usuario-perfil-id-eliminar");

	const setInputModalUsuarioIdEliminar = function(usuarioId,perfilIdUsuario){
		$usuarioIdEliminar.val(usuarioId);
		$usuarioPerfilIdEliminar.val(perfilIdUsuario)
	}

	const eliminarUsuario = function(){

		var datos = {
						'usuarioId':$usuarioIdEliminar.val(),
						'idComplejo': $("#input-id-complejo-eliminar").val(),
						'idTemporada': "{{idTemporada}}",
						'usuarioPerfilId': $usuarioPerfilIdEliminar.val()
					}

		$.ajax({
				type:'POST',
				url:"{{url('akademia_usuarioEliminar')}}",
				data:datos,
				beforeSend:function(){
					console.log("Enviando Datos =>",datos);
				},
				success:function(data){
					if(data == "-1"){

						alertify.warning("<p style='color:black;font-weight:bold;'>No se pudo eliminar Usuario</p>");
					}else if(data == "0"){

						alertify.error("Ocurrio un error a la hora de eliminar!.")
					}else{
						
						alertify.success("Se elimino usuario correctamente!.");
						$("#1Profesores").html(data);
					}
				},
				error:function(error){
					alertify.error("<p>Ocurrio un Error en el Sistema!.</p>")
				}
		});
	}

	/**** DETALLE USUARIO ***/

	$perfilUsuarioDetalle = $("#perfil-usuario-detalle");
	$tipoDocumentoDetalle = $("#tipo-documento-detalle");
	$numeroDocumentoDetalle = $("#numero-documento-detalle");
	$nombreDetalle = $("#nombre-detalle");
	$apellidoParternoDetalle = $("#apellido-parterno-detalle");
	$apellidoMaternoDetalle = $("#apellido-materno-detalle");
	$telefonoDetalle = $("#telefono-detalle");
	$correoDetalle = $("#correo-detalle");
	$usuarioDetalle = $("#usuario-detalle");
	$passwordDetalle = $("#password-detalle");

	$listaColeccionDetalle = $("#lista-coleccion-detalle");
	$tituloColeccionDetalle = $("#titulo-coleccion-detalle");
	$nombreTipoUsuarioModalDetalle = $("#nombre-tipo-usuario-modal-detalle");

	const getDatosUsuariosByDetalle = function(usuarioId,usuarioPerfilId){

		var datos = {
									'usuarioId':usuarioId,
									'usuarioPerfilId':usuarioPerfilId
									}
		console.log("Enviando Datos =>",datos);
		$.ajax({
				type:'POST',
				url:"{{url('akademia_getDatosUsuariosByDetalle')}}",
				data:datos,
				beforeSend:function(){
					console.log("Enviando Datos =>",datos);
				},
				success:function(data){

					datosUsuario = data[0];
					console.log("Datos Usuario Detalle =>",datosUsuario);

					$listaColeccionDetalle.empty();
					$tipoDocumentoDetalle.text(datosUsuario['tipoDocumento']);
					$numeroDocumentoDetalle.text(datosUsuario['numeroDocumento']);
					$nombreDetalle.text(datosUsuario['nombreUsuario']);
					$apellidoParternoDetalle.text(datosUsuario['apellidoPaterno']);
					$apellidoMaternoDetalle.text(datosUsuario['apellidoMaterno']);
					$telefonoDetalle.text(datosUsuario['telefono']);
					$correoDetalle.text(datosUsuario['correo']);
					$usuarioDetalle.text(datosUsuario['username']);
					$passwordDetalle.text(datosUsuario['contrasena']);

					var coleccion = datosUsuario['coleccion'].split(',');

					$.each(coleccion,function(index,value){

						$listaColeccionDetalle.append(`<div class='col-lg-12'>*${value}</div>`);
						$nombreTipoUsuarioModalDetalle.text("{{nombrePerfilUsuario[5]}}");
						$tituloColeccionDetalle.text("Disciplinas a cargo:");
				});			

				},
				error:function(error){
					alertify.error("<p>Ocurrio un Error en el Sistema!.</p>");
				}
			});
	}

	/***  EDITAR USUARIO ***/

	const editarUsuario = function(){
  		
		coleccion = Object.values(totalDisSelect);

		if( $("#usuario-id-editar").val() != "" &&
			$("#perfil-usuario-editar").val()!= "" && 
			$("#tipo-documento-editar").val() != "" &&  
			$("#numero-documento-editar").val()!= "" &&
			$("#nombre-editar").val() != "" && 
			$("#apellido-parterno-editar").val() != "" && 
			$("#apellido-materno-editar").val() != "" &&
			$("#telefono-editar").val() != "" && 
			$("#correo-editar").val() != "" && 
			$("#usuario-editar").val() != "" && 
			$("#password-editar").val() !="" &&
			coleccion.length > 0 ){

		var datos = {
					'usuarioId':$("#usuario-id-editar").val(),
					'perfilUsuario': $("#perfil-usuario-editar").val(),
					'tipoDocumento': $("#tipo-documento-editar").val(),
					'numeroDocumento': $("#numero-documento-editar").val(),
					'nombre': $("#nombre-editar").val(),
					'apellidoPaterno': $("#apellido-parterno-editar").val(),
					'apellidoMaterno': $("#apellido-materno-editar").val(),
					'telefono': $("#telefono-editar").val(),
					'correo': $("#correo-editar").val(),
					'username': $("#usuario-editar").val(),
					'password': $("#password-editar").val(),
					'idComplejo': $("#input-id-complejo-editar").val(),
					'idTemporada': "{{idTemporada}}",
					'coleccion': coleccion
					}
		console.log("Enviando Datos a Editar =>",datos);
		$.ajax({
			type:'POST',
			url:"{{url('akademia_usuarioEditar')}}",
			data:datos,
			beforeSend:function(){
				console.log("Enviando Datos =>",datos);
			},
			success:function(data){
				if(data == "-2"){
					alertify.warning("<p style='color:black;font-weight:bold;'>El username a editar se encuentra en uso.!</p>");
				}else if(data == "-1"){
					alertify.warning("<p style='color:black;font-weight:bold;'>Existen Campos Vacíos.!</p>");
				}else if(data == "0"){
					alertify.warning("<p style='color:black;font-weight:bold;'>Ocurrió un error a la hora de editar Usuario.!</p>")
				}
				else{
					alertify.success("Se actualizo correctamente!");
					$("#1Profesores").html(data);
				}
			},
			error:function(error){
				alertify.error("<p>Ocurrió un Error en el Sistema!.</p>")
			}
		});

		}else{
			alertify.warning("<p style='color:black;font-weight:bold;'>Existen Campos Vacios!.</p>");
		}
	}

	const getDatosUsuariosByEditar = function(usuarioId){

		$("#div-cont-dis-editar").empty();

		mostrarListaTipoUsuario();

		var datos = {
									'usuarioId':usuarioId

								}
		$.ajax({
			type:'POST',
			url:"{{url('akademia_getDatosUsuariosByEditar')}}",
			data:datos,
			beforeSend:function(){
				console.log("Enviando Datos =>",datos);
			},
			success:function(data){

				totalDisSelect = new Object();

				datosUsuario = data[0];

				console.log("Datos Usuario => ",datosUsuario);
				$("#usuario-id-editar").val(datosUsuario['id']);
				$("#perfil-usuario-editar").val(datosUsuario['id_perfil'])
				$("#tipo-documento-editar").val(datosUsuario['tipoDocumento']);
				$("#numero-documento-editar").val(datosUsuario['numeroDocumento']);
				$("#nombre-editar").val(datosUsuario['nombre']);
	 			$("#apellido-parterno-editar").val(datosUsuario['apellidoPaterno']);
				$("#apellido-materno-editar").val(datosUsuario['apellidoMaterno'])
				$("#telefono-editar").val(datosUsuario['telefono']);
				$("#correo-editar").val(datosUsuario['correo']);
				$("#usuario-editar").val(datosUsuario['usuario']);
				$("#password-editar").val(datosUsuario['contrasena']);


				var coleccion = datosUsuario['coleccion'];

				$.each(coleccion,function(index,value){

					let key = generateKey();
					$("#div-cont-dis-editar").append(`<div class='col-lg-4 div-cont-key-dis' key-div=${key} >*${value.disciplinaNombre}<i title='eliminar' style='cursor:pointer;' class='icon-trash' onclick='eliminarDisciplinaSeleccionadoEditar(${key})'></i></div>`);
						totalDisSelect[ key ] = value.ediCodigo;
					$("#input-id-complejo-editar").val(value.complejoId);
				});
			},
			error:function(error){
				alertify.error("<p>Ocurrio un Error en el Sistema!.</p>")
			}
		});
	}

	const eliminarDisciplinaSeleccionadoEditar = function(keyObject){

		delete  totalDisSelect[parseInt(keyObject)];
		
		var divContKeyDis = document.querySelectorAll('.div-cont-key-dis');
		var divContKeyDisLength = divContKeyDis.length;

		for (let i =0; i < divContKeyDisLength; i++) {
		
			if(  keyObject == parseInt( $(divContKeyDis[i]).attr('key-div') ) ){

				$(divContKeyDis[i]).empty();
				break;
			}
		}
	};

	const agregarDisciplinaEditar = function(){

		let nameOption = $('option:selected', $("#disciplina-editar")).attr('name-disciplina');
		let valOption = $("#disciplina-editar").val();
		let key = generateKey();

		var arrayTotalDisSelect = Object.values(totalDisSelect);

		var flag = true;

		for (let i = 0; i < arrayTotalDisSelect.length ; i++) {
			if( valOption == arrayTotalDisSelect[i] ){
				flag = false;
				break;
			}
		}

		if( arrayTotalDisSelect.length < 1  ){

			if( flag == true ){

				totalDisSelect[ key ] = valOption;
				$("#div-cont-dis-editar").append(`<div class='col-lg-4 div-cont-key-dis' key-div=${key} >*${nameOption}<i title='eliminar' style='cursor:pointer;'class='icon-trash' onclick='eliminarDisciplinaSeleccionadoEditar(${key})' ></i></div>`);
			}else{
				alertify.warning("<p style='color:black;font-weight:bold;'>La disciplina ya fue seleccionado</p>");
			}			
		}else {
			alertify.warning("<p style='color:black;font-weight:bold;'>El profesor solo puede estar a cargo de una disciplina.</p>");
		}
	}
	/*** CREAR USUARIO ***/


	const generateKey = ()=>{
		let numberRandom = Math.floor(Math.random() * 10000000) + 1 ;
		return numberRandom;
	}

	const crearUsuarioProfesor =  function(){

		let arrayDisSelect = Object.values(totalDisSelect);

		var datos = {
						'tipoDocumento': $("#tipo-documento-crear").val(),
						'numeroDocumento': $("#numero-documento-crear").val(),
						'nombre': $("#nombre-crear").val(),
						'apellidoPaterno': $("#apellido-parterno-crear").val(),
						'apellidoMaterno': $("#apellido-materno-crear").val(),
						'telefono': $("#telefono-crear").val(),
						'correo': $("#correo-crear").val(),
						'username': $("#usuario-crear").val(),
						'password': $("#password-crear").val(),
						'perfilUsuario': $("#perfil-usuario-crear").val(),
						'idComplejo': $("#input-id-complejo-crear").val(),
						'idTemporada': "{{idTemporada}}"
					}

			datos['coleccion'] = arrayDisSelect;

			console.log("Enviando datos a guardar => ",datos);
			$.ajax({
				type:'POST',
				url:"{{url('akademia_usuarioCrear')}}",
				data:datos,
				beforeSend:function(){
					console.log("Enviando Datos =>",datos);
				},
				success:function(data){

					if(data == -2){
						alertify.warning("<p style='color:black; font-weight=bold;' >El username esta en uso.!</p>");
					}else if(data == -1){
						alertify.warning("<p style='color:black; font-weight=bold;' >Existen Campos Vacios.!</p>");
					}else if(data == 0){
						alertify.warning("<p style='color:black; font-weight=bold;' >Ocurrio un error al editar, actulize la pagina porfavor.!</p>");
					}else {
						alertify.success('<p>Se creo el Usuario Correctamente</p>');
						$("#1Profesores").html(data);
					}
				},
				error:function(error){
					alertify.error("<p>Ocurrio un Error en el Sistema!.</p>")
				}
			});	
	};

	const eliminarDisciplinaSeleccionadoCrear = function(keyObject){

		delete  totalDisSelect[parseInt(keyObject)];
		
		var divContKeyDis = document.querySelectorAll('.div-cont-key-dis');
		var divContKeyDisLength = divContKeyDis.length;

		for (let i =0; i < divContKeyDisLength; i++) {
		
			if(  keyObject == parseInt( $(divContKeyDis[i]).attr('key-div') ) ){

				$(divContKeyDis[i]).empty();
				break;
			}
		}
	};

	const agregarDisciplinaCrear = function(){

		let nameOption = $('option:selected', $("#disciplina-crear")).attr('name-disciplina');
		let valOption = $("#disciplina-crear").val();
		let key = generateKey();

		var arrayTotalDisSelect = Object.values(totalDisSelect);

		var flag = true;

		for (let i = 0; i < arrayTotalDisSelect.length ; i++) {
			if( valOption == arrayTotalDisSelect[i] ){
				flag = false;
				break;
			}
		}

		if( arrayTotalDisSelect.length < 1  ){

			if( flag == true ){

				totalDisSelect[ key ] = valOption;
				$("#div-cont-dis-crear").append(`<div class='col-lg-4 div-cont-key-dis' key-div=${key} >*${nameOption}<i title='eliminar' style='cursor:pointer;'class='icon-trash' onclick='eliminarDisciplinaSeleccionadoCrear(${key})' ></i></div>`);
			}else{
				alertify.warning("<p style='color:black;font-weight:bold;'>La disciplina ya fue seleccionado</p>");
			}			
		}else {
			alertify.warning("<p style='color:black;font-weight:bold;'>El profesor solo puede estar a cargo de una disciplina.</p>");
		}
	}

	const mostrarListaTipoUsuario = function(){

		$("#div-cont-dis-crear").empty();
		totalDisSelect = new Object();

		let nombreTipoUsuario = "Profesor";

		$("#nombre-tipo-usuario-modal").text(nombreTipoUsuario);
		$("#perfil-usuario-crear").val("{{perfilUsuario['profesor']}}");
	};
	
	$btnCrearDisciplina = $("#btn-crear-disciplina");
	$inputHiddenIdDisciplina = $("#input-hidden-id-disciplina");
	var modalConfElimHor = document.getElementById('modal-confirmar-eliminar-horario');
	var modalCloseConfHor = document.getElementsByClassName("modal-close-confirmar-horario");
	var turno = document.getElementById('turno');

	for (let i = 0; i < modalCloseConfHor.length; i++) {
		modalCloseConfHor[i].onclick = function() {
		    modalConfElimHor.style.display = "none";
		}
	}

	function cambiarDepartamento(departamento){

		var departamentoId = departamento.value;
		$("#complejo").empty();
		$("#complejo").append("<option value=''>--Seleccionar--</option>");
		{% for  comp in complejos %}
			if("{{comp['departamentoId']}}" == departamentoId )
				$("#complejo").append("<option value={{comp['complejoId']}}>{{comp['complejoNombre']}}</option>");

		{% endfor %}
	}

	function cambiarProvincia(provincia){

		var provinciaId = provincia.value;
		var departamentoId =  $('option:selected', provincia).attr('data-departamento');
		$("#complejo").empty();
		$("#complejo").append("<option value=''>--Seleccionar--</option>");
		{% for  comp in complejos %}

			if("{{comp['provinciaId']}}" == provinciaId &&  "{{comp['departamentoId']}}" == departamentoId )
				$("#complejo").append("<option value={{comp['complejoId']}}>{{comp['complejoNombre']}}</option>");

		{% endfor %}
	}

	function cambiarComplejo(complejo){

		$("#input-id-complejo-crear").val(complejo.value);
		$("#input-id-complejo-eliminar").val(complejo.value);

		{% if is_granted('ROLE_PROFESOR') %}

			var complejoId = complejo.value;
			$("#disciplina").empty();
			$("#disciplina").append("<option value=''>--Seleccionar--</option>");
			{% for  dis in disciplinasComplejo %}

				if("{{dis['complejoId']}}" == complejoId )
					$("#disciplina").append("<option data-complejo-id= {{dis['complejoId']}} value={{dis['disciplinaId']}}>{{dis['disciplinaNombre']}}</option>");

			{% endfor %}

		{% else %}

			var datos = {
							'idComplejo':complejo.value,
							'idTemporada':"{{idTemporada}}"
						}			
			$.ajax({
				type:'POST',
				url: "{{url('akademia_tableHorarioComplejoBeneficiario')}}",
				data: datos,
				beforeSend: function(){				
				},
				success : function(data){
					$("#container-complejo-disciplina-horarios").html(data);
				},
				error : function(error){
					alertify.error('Ocurrio un error en el sistema!.');
				},
			});

		{% endif %}
	}

	function cambiarDisciplina(disciplina){

		idDisciplina = disciplina.value;
		var idComplejo =  $('option:selected', disciplina).attr('data-complejo-id');

		var datos = {
						'idComplejo':idComplejo,
						'idDisciplina': idDisciplina,
						'idTemporada':"{{idTemporada}}"
					}
			
		$.ajax({
			type:'POST',
			url: "{{url('akademia_tableHorarioComplejoBeneficiario')}}",
			data: datos,
			beforeSend: function(){				
			},
			success : function(data){
				$("#container-complejo-disciplina-horarios").html(data);
			},
			error : function(error){
				alertify.error('Ocurrio un error en el sistema!.');
			},
		});
	}

	/* EDITAR HORARIO*/
	function editarHorario(idHorario, idDisciplina){
		
		sessionStorage.removeItem('flagOcularHorario');
		$("#cbx-horario").prop('checked', false);
		$("#btn-actualizar").attr('value','Actualizar');
		$("#advertencia").hide();

		$inputHiddenIdDisciplina.val(idDisciplina);

		var idHorario = idHorario;
		var idDisciplina = idDisciplina;
		
		clearData();
		
		var dataHorario = {
			"idHorario" : idHorario,
			"idDisciplina" : idDisciplina
		};

		$.ajax({
			type:'POST',
			dataType: "json",
			url: "{{url('akademia_mostrarHorarioIndividual')}}",
			data: dataHorario,

			beforeSend: function(){				
				
			},
			success : function(data){
				if(data != 1){

					var dataHorario =JSON.parse(data)[0];
					console.log("Data Horario =>",dataHorario);

					$("#editar_codigo_horario").append(dataHorario.idHorario);
					$("#editar_disciplina_horario").append(dataHorario.nombreDisciplina);
					$("#editar_edades_horario").append(dataHorario.edad);
					$("#editar_modalidad_horario").append(dataHorario.modalidad);

					if(dataHorario.etapa=='Formación'){
						$("#editar_etapa_horario").val(0);
						console.log("Formacion")
					}else if(dataHorario.etapa=='Masificación'){
						$("#editar_etapa_horario").val(1);
						console.log("Masificación");
					}
					
					$("#editar_convocatoria_horario").val(dataHorario.convocatoria);
					$("#editar_vacantes_horario").val(dataHorario.vacantes);
					$("#editar_preinscripciones_horario").val(dataHorario.preinscripciones);
					
					dataHorario.turnos.forEach(function(value,index){
						$("#editar_frecuencia_horario").append(`<div>${value.frecuencia}</div>`);
						$("#editar_dias_horario").append(`<div>${value.hora}</div>`);
					});

				}else{
					alertify.error('<p style="color:white">Se produjo un error al cargar los datos del Horario. </p>'); 
				}
			},
			error : function(error){
				alertify.error("Ocurrio un Error en el Sistema!.");
			},
		})
	}

	/*ACTUALIZAR Y/O ELIMINAR  HORARIO*/
	$('#cbx-horario').on( 'click', function() {
		
	    if($(this).is(':checked'))
	    {
	        $("#advertencia").show();
	        sessionStorage.setItem('flagOcularHorario',$(this).val());
	        $("#btn-actualizar").attr('value',"Eliminar");
	    
	    }else{
	    	sessionStorage.removeItem('flagOcularHorario');
	    	$("#advertencia").hide();
	    	$("#btn-actualizar").attr('value',"Actualizar");

	    }
	});		

	function eliminarHorario(){

		console.log("Eliminar Horario");

	 	 var idHorario = $("#editar_codigo_horario").text();	
		 var idDisciplina = $inputHiddenIdDisciplina.val();
		 var datos={
			'idHorario' : idHorario,
			'idTemporada': "{{idTemporada}}",
			'idComplejo': $("#input-hidden-id-complejo").val(),
			'idDisciplina': idDisciplina

		};

		$.ajax({
			type:'POST',
			url: "{{url('akademia_ocultarHorario')}}",
			data: datos,
			beforeSend: function(){				
			},
			success: function(data){
				console.log("Response datos Eliminar =>",data);
				if(data == "-2"){
					alertify.warning("<p style='color:black;font-weight:bold;'>No se pudo eliminar porque aún existen participantes activos en el Horario!.</p>");
				}else if(data == "-1"){
					alertify.warning("<p style='color:black;font-weight:bold;'>No se pudo eliminar el Horario</p>");
				}else{
					alertify.success("Se elimino horario correctamente!");
					$("#1"+idDisciplina).html(data);	
				}
			},
			error: function(error){
				alertify.error("Ocurrio un error en el sistema!.");
			}
		});
		modalConfElimHor.style.display = "none";					
	}

	// ACTUALIZAR Y ELIMINAR HORARIOS 
	function actualizarHorario(){

		if(sessionStorage.getItem('flagOcularHorario') == '1'){

			modalConfElimHor.style.display = "block";
		}else{

			// ACTUALIZAR LOS HORARIOS
			console.log(sessionStorage.getItem('flagOcularHorario'));
			if($("#editar_vacantes_horario").val()==""){
               	alertify.error('<p style="color:white">Se requiere que ingrese la cantidad de vacantes. </p>'); 
               	$("#editar_vacantes_horario").focus();

            }else if($("#editar_preinscritos_horario").val()==""){
            	alertify.error('<p style="color:white">Se requiere que ingrese el límite de preinscripciones. </p>'); 
               	$("#editar_preinscripciones_horario").focus();

            }else if($("#editar_convocatoria_horario").val()==""){
            	alertify.error('<p style="color:white">Seleccione la convocatoria. </p>');

            }else if(parseInt($("#editar_vacantes_horario").val())<0){
				alertify.error('<p style="color:white">Verifique el número de vacantes. </p>');

            }else if(parseInt($("#editar_preinscripciones_horario").val()) < parseInt($("#editar_vacantes_horario").val())){
            	
            	$("#btn-actualizar").attr("data-dismiss", "");
            	showAlertMessage('#alerta-errorEditarVacante', "Verifique que el Nº vacantes de Preinscritos sea mayor al Nº de vacantes de Inscritos.");

            }else if($("#editar_convocatoria_horario").val()!= "" && $("#editar_vacantes_horario").val()!="" && $("#editar_preinscripciones_horario").val() != ""){
            		
            		$("#btn-actualizar").attr("data-dismiss", "modal");

		           	var idHorario = $("#editar_codigo_horario").text();
					var vacantes = $("#editar_vacantes_horario").val();
					var preinscripciones = $("#editar_preinscripciones_horario").val()
					var convocatoria = $("#editar_convocatoria_horario").val();
					var etapa = $("#editar_etapa_horario").val();


					var dataActualizarHorario={
						"idHorario" : idHorario,
						"vacantes" :vacantes,
						"preinscripciones" : preinscripciones,
						"convocatoria" : convocatoria,
						"etapa" : etapa
					};

					$.ajax({

						type:'POST',
						dataType: "json",
						url: "{{url('akademia_actualizarHorario')}}",
						data: dataActualizarHorario,

						beforeSend: function(){				
				
						},

						success: function(data){

							if(data != 1){
								var dataHorario =JSON.parse(data)[0];

								$("#1h"+dataHorario.id).empty();
								$("#7h"+dataHorario.id).empty();
								$("#8h"+dataHorario.id).empty();
								$("#9h"+dataHorario.id).empty();

								$("#1h"+dataHorario.id).text(dataHorario.id);

								if(dataHorario.convocatoria == 1){
									$("#7h"+dataHorario.id).text("Abierto");
									$("#7h"+dataHorario.id).css("color","green");
								}else{
									$("#7h"+dataHorario.id).text("Cerrado");
									$("#7h"+dataHorario.id).css("color","red");
									$("#7h"+dataHorario.id).css("font-weight","bold");
								}

								$("#8h"+dataHorario.id).text(dataHorario.vacantes);
								
								if(dataHorario.etapa == 0){
									$("#3h"+dataHorario.id).text("Formación");
								}else if(dataHorario.etapa == 1){
									$("#3h"+dataHorario.id).text("Masificación");	
								}

								if(dataHorario.preinscripciones == 0){
									$("#9h"+dataHorario.id).text(dataHorario.preinscripciones);
									$("#9h"+dataHorario.id).css("color","red");
									$("#9h"+dataHorario.id).css("font-weight","bold");

								}else{
									$("#9h"+dataHorario.id).text(dataHorario.preinscripciones);	
									$("#9h"+dataHorario.id).css("color","black");
								}
								


								alertify.success('Horario Actualizado');					
							}else{
								alertify.error('<p style="color:white">Error al actualizar los datos </p>'); 
							}
						},
						error: function(error){
						}
					});
            }
		}
	} 

	
	function disciplina(idDisciplina2){

		diasElegidos = [];
		clearDataCrear();

		$("#idDisciplinaNewHorario").val(idDisciplina2);
		$("#diasTurno :checkbox").attr('checked', false);
		$("#idDisciplina").val(idDisciplina2);
		var idDisciplina = $("#idDisciplina").val();

		var datos = {
					  'idDisciplina': idDisciplina2,
					  'idTemporada': "{{idTemporada}}"
		};

		$.ajax({
			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_getRankAgesDiscipline')}}",
			data: datos,
			beforeSend: function(){				
				console.log('Enviado Id Disciplina => ',datos);
			},

			success: function(data){
				
				if(parseInt(data) == 0){
					alertify.error('<p style="color:white">Se produjo un error!. </p>');
				}else{

					data.forEach(function(value,index){
						sessionStorage.removeItem('edad_min_convencional');
						sessionStorage.setItem('edad_min_convencional',value.edad_min_convencional);

						sessionStorage.removeItem('edad_max_convencional');
						sessionStorage.setItem('edad_max_convencional',value.edad_max_convencional);

						sessionStorage.removeItem('edad_min_discapacitado');
						sessionStorage.setItem('edad_min_discapacitado',value.edad_min_discapacitado);

						sessionStorage.removeItem('edad_max_discapacitado');
						sessionStorage.setItem('edad_max_discapacitado',value.edad_max_discapacitado);
					});
				}

			},

			error: function(data){

				alertify.error('<p style="color:white">Se produjo un error!. </p>');	
				console.log(data);
			},
		});
	}
		

	/*CREAR NUEVA DISCIPLINA*/
	function crearDisciplina(){

		var disciplina = $("#Disciplina").val();
		var idComplejo = $("#input-hidden-id-complejo").val();

		if(disciplina != ""){

			var datos = {
				"idDisciplina" : disciplina,
				"idTemporada": "{{idTemporada}}",
				"idComplejo": idComplejo
			};

			$.ajax({
				type:'POST',
				url: "{{url('akademia_crearDisciplina')}}",
				data: datos,
				beforeSend: function(){
					console.log("Datos a enviar => ",datos);				
				},

				success: function(data){

					if (data == -2){
						alertify.warning("<p style='color:black;font-weight:bold;'>Ocurrio un error al momento de crear una Disciplina!.</p>");
					}
					else if(data  == -1){
						alertify.warning("<p style='color:black;font-weight:bold;'>Existen campos vacios!.</p>");			

					}else if(data == 0){
						alertify.success("<p style='color:black;font-weight:bold;'>Ocurrio un error al momento de crear una Disciplina!.</p>");

					}else{
						$("#container-complejo-disciplina-horarios").html(data);
						alertify.success('<p style="color:white">Disciplina creada exitosamente</p>');

					}
				},

				error: function(data){

					alertify.error('<p style="color:white">Se produjo un error al crear la nueva disciplina. </p>');	
					console.log(data);
				},
			});

		}else{
			alertify.error('<p style="color:white">Debe seleccionar una disciplina a crear. </p>');			
		}
	}

	$btnCrearDisciplina.on('click',crearDisciplina);

	/*ELIMINAR DISCIPLINA*/

	function xDisciplina(idDisciplina){
		$inputHiddenIdDisciplina.val(idDisciplina);
	}

	// ELIMINAR DISCIPLINA
	function eliminarDisciplina(){

		console.log("codigo de la disciplina a eliminar =>",$inputHiddenIdDisciplina.val());

		var datos = {
				'codigoDisciplina':$inputHiddenIdDisciplina.val(),
				'idTemporada': "{{idTemporada}}",
				'idComplejo': $("#input-hidden-id-complejo").val()
			}

		$.ajax({
			type:'POST',
			url: "{{url('akademia_eliminarDisciplina')}}",
			data:datos,
			beforeSend: function(){
				console.log("Datos a Eniar para eliminar Disciplina =>",datos);		
			},
			success: function(data){

				if(data == "-1"){
					alertify.error('<p style="color:white">Esta disciplina no puede eliminarse porque existen horarios activos.</p>');					
				}else{
					alertify.success('<p style="color:white">La disciplina se eliminó correctamente!.</p>');
					$("#container-complejo-disciplina-horarios").html(data);	
				}
			},
			error: function(error){
				alertify.error('<p style="color:white">Ocurrio un error en el Sistema!.</p>');
			},
		});
	}

	$("#modalidad-horario").on('change',function(){

		if( $("#modalidad-horario").val() == '0' ){
			$("#textEdad").html(`<b style="font-size:1em;" >${sessionStorage.getItem('edad_min_convencional')} a ${sessionStorage.getItem('edad_max_convencional')} años.</b>`);

		}else if( $("#modalidad-horario").val() == '1' ){
			$("#textEdad").html(`<b style="font-size:1em;" >${sessionStorage.getItem('edad_min_discapacitado')} a ${sessionStorage.getItem('edad_max_discapacitado')} años.</b>`);
			
		}else{
			$("#textEdad").html('');
		}
	});

	function validateHora(n){
		
		if ( n.length > n.maxLength ) 
	        n.value = n.value.slice(0, n.maxLength);
	    
	   if ( n.value > n.max ) 
	        n.value = n.value.slice(0, n.maxLength-1);
	    
	    if ( n.value < n.min ) 
	        n.value = n.value.slice(0, 0);
	}

	function validateMinuto(n){
		
		if ( n.length > n.maxLength ) 
	        n.value = n.value.slice(0, n.maxLength);
	    
	   if ( n.value > n.max ) 
	        n.value = n.value.slice(0, n.maxLength-1);
	    
	    if ( n.value < n.min ) 
	        n.value = n.value.slice(0, 0);
	}
	function dateToHour(date){
		return date.toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
	}
</script>

{% endblock %}

