{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<header>
	 <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>                       
                <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="logoAcademia" />                                      
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <br>
                <ul class="nav navbar-nav navbar-right">
               
                    <li title="Inicio"><a href="{{url('akademia_panel',{'idTemporada':idTemporada})}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section  id="inscribete"  class="proceso-inscripcion">
	
	<div style="width:93%">
		<p class="text-right" style="color:grey" >Usuario: {{ app.user.username}} </p>
	</div>
		<div id="proceso1" class="proceso" style="margin-bottom: 60px;">	
		    
			{% if  is_granted('ROLE_ANALISTA') %}	
				<h1>LA ACADEMIA IPD </h1>
			{% else %}
				{% if valor == '1'%}
					<h1> CP {{nombreComplejo[0]['nombreComplejo'] }} </h1>
				{% elseif valor == '2' %}
					<h1> Complejo Deportivo - IPD </h1>
				{% endif %}
			{% endif %}

			<h4 style="color:grey">ADMINISTRACIÓN DE HORARIOS</h4>

			<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px; margin-bottom: 20px;">

				<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
				<p> Administra los horarios asignados a tu complejo deportivo. <br>También puedes actualizar el número de vacantes, abrir o cerrar las convocatorias de los horarios y visualizar la lista de sus inscritos.</p>
			</div>

			{% set cont = 0 %}
			{% for complejosDisciplina in complejosDisciplinas %}
			
			<div id="ficha-participante-container" class="container-card col-xs-12 col-sm-10 col-md-11 col-lg-11">	

				<div class="card" id="listadoDisciplinas">
					<div class="card-header text-center" role="tab" id="" style="height:50px; padding-top:12px;" >
						<a class="title-card" data-toggle="collapse" href="#caja{{complejosDisciplina['idDisciplina']}}" >
							<strong>{{complejosDisciplina['nombreDisciplina']}}</strong>
						</a>
					</div>
					
					<div id="caja{{complejosDisciplina['idDisciplina']}}" class="collapse" role="tabpanel" data-parent="#accordion">
						<hr>
						<div class="card-body">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">

										<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
											<div class="input-group col-xs-8 col-sm-8 col-md-8 col-lg-8">
											  <span class="input-group-addon">Buscar</span>
											  <input class="filtrar form-control" type="text" ident-buscar="{{cont}}"  placeholder=" ingresa los campos a buscar ">
											</div>
										</div>
										
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div style="float:right; margin-right:20px">
												<span style="color:grey">Eliminar disciplina </span>
												<button title="Eliminar disciplina" type="button" id="{{complejosDisciplina['idDisciplina']}}"  class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirmarEliminarDisciplina" onclick="xDisciplina({{complejosDisciplina['idDisciplina']}})"><i class="icon-trash" style="font-size:1.6em; margin-top:5px; color:#B45F04" ></i></button>
											</div>
										</div>

									</div>
									
									<br>

									<div class="panel panel-default" style="overflow-x:auto; overflow-y:scroll; height:50vh; ">			

										<table class="table"  style="width: 100%;"> 
											<thead style="background:#cb2f1d; color:#F2F2F2;" class="text-center"> 
												<tr> 
													<th class="text-center" style="font-size:14px">Código</th>
													<th class="text-center" style="font-size:14px">Modalidad</th>
													<th class="text-center" style="font-size:14px">Etapa</th>
													<th class="text-center" style="font-size:14px">Edades</th> 
													<th class="text-center" style="font-size:14px">Frecuencia</th>
													<th class="text-center" style="font-size:14px">Hora</th> 
													<th class="text-center" style="font-size:14px">Convocatoria</th>
													<th class="text-center" style="font-size:14px">Vacantes disponibles</th>
													<th class="text-center" style="font-size:14px">Límite de preinscripciones</th> 
													<th class="text-center" style="font-size:14px">Inscritos</th>
													<th></th>
													{% if idTemporadaActiva == idTemporada %}
														<th></th>
													{% endif %}
												</tr>
												
											</thead> 
											
											<tbody id="1{{complejosDisciplina['idDisciplina']}}" class="buscar"  > 
											
											{% for horario in horarios %}
											{% if horario['idDisciplina'] == complejosDisciplina['idDisciplina'] %}
												<tr> 
													<td id="1h{{horario['idHorario']}}" class="text-center">{{horario['idHorario']}}</td>
													<td id="2h{{horario['idHorario']}}" class="text-center" >  
														{% if  horario['discapacidad'] == 0 %}
														 	Convencional
														{% else %}
														    Personas con Discapacidad
														{% endif %}
													</td> 
													<td id="3h{{horario['idHorario']}}" class="text-center"> 
														{% if  horario['etapa'] == 0 %}
														    Formación  
														{% else %}
															Masificación
														{% endif %}
													</td>
													<td id="4h{{horario['idHorario']}}" class="text-center">
														{% if  horario['edadMaxima'] != horario['edadMinima'] %}
															{{horario['edadMinima']}} - {{horario['edadMaxima']}} años</td>
														{% else %}
															{{horario['edadMinima']}} años
														{% endif %}
													</td> 
													
													<td id="5h{{horario['idHorario']}}" class="text-center" >
														{% for turno in turnos %}
															{% if turno['horario_id'] == horario['idHorario']  %}
																	<div   >{{turno['dias']}}</div>
															{% endif %}
														{% endfor %}
													</td> 
													<td id="6h{{horario['idHorario']}}" class="text-center">
														{% for turno in turnos %}
															{% if turno['horario_id'] == horario['idHorario']  %}
																<div style="width:110px;  padding-bottom:5px;">{{turno['hora']}}</div>
															{% endif %}
														{% endfor %}
													</td> 

													<td id="7h{{horario['idHorario']}}" class="text-center">
														{% if  horario['convocatoria'] == 1 %}
															<p  style="color:green" >Abierta</p>
														{% else %}
														<p style="color:red; font-weight:bold;"> Cerrado </p> 
													{% endif %}

													<td id="8h{{horario['idHorario']}}" class="text-center">
														
														{{horario['vacantes']}} 
													</td>

													<td id="9h{{horario['idHorario']}}" class="text-center">{{horario['preinscripciones']}}</td> 
													<td id="10h{{horario['idHorario']}}" class="text-center">{{horario['inscritos']}}</td>
												
													{% if is_granted('ROLE_ADMIN') and idTemporadaActiva == idTemporada %}
													
														<td><button title="Editar horario" type="button" id="{{horario['idHorario']}}" onclick="editarHorario({{horario['idHorario']}},{{horario['idDisciplina']}} )" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-editar"><i class="icon-pencil-square-o" style="font-size:1.2em; margin-top:5px; color:white" ></i></button></td>
														
													{% endif %}
													
														<td><a href="{{url('akademia_beneficiarios',{idHorario:horario['idHorario'], idTemporada : idTemporada })}}"  title="Mostrar Inscritos" type="button" class="btn btn-default btn-xs"><i class="icon-checklist" style="font-size: 1.3em;"></i></a></td>
												</tr> 
												<input type="hidden" value="{{horario['idDisciplina']}}">				
												
											{% endif %}
										    {% endfor %}
																								
											</tbody> 
										</table>
									</div>
								</div>
							</div>
							<hr>
							
							{% if is_granted('ROLE_ADMIN')  and idTemporadaActiva == idTemporada %}

								<div class="row text-right">
									<button type="button" data-toggle="modal" data-target="#modal-crear" id="Crear-Nuevo-Horario"  class="btn btn-danger" style="margin-right: 18px;" onclick="disciplina({{complejosDisciplina['idDisciplina']}});">Crear nuevo horario</button>
								</div>
							{% endif %}
						</div>
					</div>
				</div>       
			</div>
			{% set cont = cont + 1 %}
			{% endfor %}
			
			<hr>
			{% if is_granted('ROLE_ADMIN')  and idTemporadaActiva == idTemporada %}
			<div class="container-card col-xs-12 col-sm-10 col-md-10 col-lg-10">				
				<div class="card-header text-center">
					<p style="font-size:16px; color:grey">¿Quieres aperturar una nueva disciplina en tu complejo deportivo?</p>
					<button type="button" data-toggle="modal" data-target="#modal-disciplina" class="btn btn-danger" id="CrearDisc" style="margin-right: 18px;">Crear nueva disciplina</button>		
				</div>
			</div>
			{% endif %}

		</div>

</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>
				<br>
				<br>
				<img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.jpg')}}">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>La Academia</h4>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>Enlaces de Interés</h4>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>
</footer>

<!-- modal -->
<div id="modal-editar" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
				{% if valor == '1'%}
					<h4 class="title-card" style="color:#d9534f">CP de {{nombreComplejo[0]['nombreComplejo']}}</h4>
				{% elseif valor == '2' %}
					<h4 class="title-card" style="color:#d9534f"> Complejo Deportivo - IPD </h4>
				{% endif %}
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div id="alert-editar-info" class="alert alert-warning alert-dismissible text-center" role="alert">
								<button id="btn-close-alert-editar-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
								<p style="font-size:14px">Edición de las vacantes y convocatoria.</p>
							</div>
							<ul class="list-group">

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Código</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_codigo_horario"></p>
											<input type="hidden" id="idDisciplina">
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">

										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Modalidad</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-3 col-lg-3">
											<p id="editar_modalidad_horario"></p>
											<input type="hidden" id="modalidad">
										</div>

										<div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
											<p><strong>Etapa</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-4 col-lg-4">

											<select class="form-control" id="editar_etapa_horario">
												<option value="">--Seleccionar--</option>
												<option value="0">Formación</option>
												<option value="1">Masificación</option>
											</select>
											<input type="hidden" id="etapa">
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										
										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Edades</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-3 col-lg-3">
											<p id="editar_edades_horario"></p>
										</div>

										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Disciplina</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-3 col-lg-3">
											<p id="editar_disciplina_horario"></p>
										</div>

									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										
										<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
											<p><strong>Turnos y Horarios</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-5 col-lg-5">
											<div id="editar_frecuencia_horario"></div>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-4 col-lg-4">
											<div id="editar_dias_horario"></div>
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Vacantes disponibles</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<input class="form-control" id="editar_vacantes_horario" name="editar_vacantes_horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
											/>	
										</div>
									</div>
								</li>					

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Límite de preinscritos</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<input class="form-control" id="editar_preinscripciones_horario" name="editar_preinscripciones_horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
											/>	
										</div>
									</div>
									<br>
									<p style="font-size:12px; color:grey"> * El Nº de vacantes de preinscritos debe ser mayor al Nº de vacantes de inscritos.</p>
								</li>					


								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Convocatoria</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<select class="form-control" id="editar_convocatoria_horario">
												<option value=""> --Seleccionar--</option>
												<option value="1">Abierto</option>
												<option value="0">Cerrado</option>
											</select>
										</div>
									</div>
								</li>	

							</ul>
							<div id="alerta-errorEditarVacante" class="alert alert-danger collapse text-center"></div>
						</div>
						<hr>
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-ld-12 ">
							<div class="row">
								<div class="form-group col-xs-9 col-sm-9 col-md-9 col-ld-9">
									<p style="color:grey"> ¿Deseas eliminar este horario?</p>
								</div>
								<div class="form-group col-xs-3 col-sm-3 col-md-3 col-ld-3 accordion">  
									<div class="input-group">
		  								<span class="input-group-addon">
		    								<input type="checkbox" name="cbx-horario" id="cbx-horario" value="1">
		  								</span>
		  								<p type="text" class="form-control">Si</p>
									</div>
								</div>
							</div>
							<br>
							<div id="advertencia" class="alert alert-danger collapse text-center">
								<p style="font-size:14px">Recuerda que no se podrá recuperar este horario y la lista de sus beneficiarios ya no serán visibles.</p>
							</div>	
						</div>
					</div>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input id="btn-actualizar" type="button" class="btn btn-danger" data-dismiss="modal" onclick="actualizarHorario()" value="Actualizar">
			
			</div>
		</div>
	</div>
</div>


<!--MODAL CREAR HORARIO-->
<div id="modal-crear" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
				{% if valor == '1'%}
					<h4 class="title-card" style="color:#d9534f">CP de {{nombreComplejo[0]['nombreComplejo']}}</h4>
				{% elseif valor == '2' %}
					<h4 class="title-card" style="color:#d9534f"> Complejo Deportivo - IPD </h4>
				{% endif %}

			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="alert-crear-info" class="alert alert-warning alert-dismissible text-center" role="alert">
							<button id="btn-close-alert-crear-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p style="font-size:14px">¡Cuidado! Evita crear horarios iguales. </p>
						</div>
						<div id="alerta-errorCrear" class="alert alert-danger collapse text-center"></div>

						<ul class="list-group">

							<li class="list-group-item">

								<div class="row">
									<input type="hidden" name="idDisciplinaNewHorario" id="idDisciplinaNewHorario" >
									<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
										<p><strong>Modalidad</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" >
										<select class="form-control" id="modalidad-horario" >
											<option value="">--Seleccionar--</option>
											<option value="0">Convencional</option>
											<option value="1">Persona con Discapacidad</option>
										</select>
									</div>

									<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
										<p><strong>Etapa</strong></p>
									</div>

									<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4" style="margin-left:12px;" >
										<select class="form-control" id="etapa-horario">
											<option value="">--Seleccionar--</option>
											<option value="0">Formación</option>
											<option value="1">Masificación</option>
										</select>
									</div>

								</div>

								<br>
								<p style="font-size:14px; color:grey;font-weight:bold;">Edades comprendidas: <span style="font-size:14px;" id="textEdad"></span></p>
							</li>

							<li class="list-group-item">

								<div class="row">

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<p><strong>Edad mínima</strong></p>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

												<input class="form-control" name="edad-minima" id="edad-minima"
												    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												    type = "number"
												    maxlength = "2"
												    min = "1"
												    max = "24"
												 />
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<p><strong>Edad máxima</strong></p>

											</div>

											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

												<input class="form-control" id="edad-maxima" name="edad-maxima"
												    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												    type = "number"
												    maxlength = "2"
												    min = "1"
												    max = "24"
												 />

											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="list-group-item">

								<div class="row">

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
										<p ><strong><b>Turnos y Horarios:</b></strong></p>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:8px;" >

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<p class="text-left"><strong>Frecuencia</strong></p>
										</div>

										<div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 "  >

											<label style="font-size:13.5px; font-weight:normal; "><input type="checkbox" id="Lun" value="1" onclick="elegirDias(this)">Lun</label>

											<label style="font-size:13.5px; font-weight:normal; margin-left:2px;"><input type="checkbox" id="Mar" value="2" onclick="elegirDias(this)">Mar</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Mie" value="3" onclick="elegirDias(this)">Miér</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Jue" value="4" onclick="elegirDias(this)">Juev</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Vie" value="5" onclick="elegirDias(this)"> Vier</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Sab" value="6" onclick="elegirDias(this)"> Sáb</label>

											<label style="font-size:13.5px; font-weight:normal;margin-left:2px;"><input type="checkbox" id="Dom" value="7" onclick="elegirDias(this)"> Dom</label>

										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:15px;" >

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<p class="text-left"><strong>Hora Inicio</strong></p>
										</div>

										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
											<div class="input-group">
												<span class="input-group-addon">hh</span>

												<input class="form-control placeholder " placeholder=" Ej: 9 " id="hora-inicio"
												    oninput="validateHora(this)" maxlength = "2" min = "0" max = "24"
												 />
											</div>
										</div>

										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<div class="input-group">
												<span class="input-group-addon">mm</span>
												
												<input class="form-control placeholder" placeholder=" Ej: 00 " id="min-inicio"
												    oninput="validateMinuto(this)" maxlength = "2" min = "0" max = "60"
												 />
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:15px;" >

									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<p class="text-left"><strong>Hora Fin</strong></p>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
										<div class="input-group">
											<span class="input-group-addon">hh</span>

											<input class="form-control placeholder" placeholder=" Ej: 10 " id="hora-fin"
											    oninput="validateHora(this)" maxlength = "2" min = "0" max = "24"
											 />
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="input-group">
											<span class="input-group-addon">mm</span>
											<input class="form-control placeholder" placeholder=" Ej: 00 " id="min-fin"
											    oninput="validateMinuto(this)" maxlength = "2" min = "0" max = "60"
											 />
										</div>
									</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="margin-bottom:15px;">
										<div class="col-xs-9 col-sm-9 col-md-9 col-lg-8">
											<p class="text-left" style="font-size:14px; color:grey;font-weight:bold;">El formato es de 24 horas.</p>
										</div>

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style=" display:flex; flex-wrap:wrap; justify-content:center; " >
											<button style="margin-left:20px;" class="btn btn-default" id="agregar-turnos">Agregar</button>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<p class="text-left" style="font-size:14px;"><strong>Seleccionados:</strong></p>
										</div>

										<div class="col-xs-3 col-sm-9 col-md-9 col-lg-9" style="background:#ffffcc;border-color:#fcf8e3;border-radius:2px;" id="container-turnos-seleccionados">
											<div id="turnos-seleccionados"  style="height:50px;" >
											</div>
										</div>
										<input type="hidden" name="flag-turnos" id="flag-turnos">
									</div>

								</div>
							</li>
			

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Vacantes disponibles</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<input class="form-control" id="vacantes-horario" name="vacantes-horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
										 />		
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Límite de preinscripciones</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<input class="form-control" id="preinscripciones-horario" name="preinscripciones-horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
										 />		
									</div>
								</div>
								<br>
								<p style="font-size:14px; color:grey;font-weight:bold;"> * El N° de Límite de pre-inscritos debe ser igual o mayor que el N° de vacantes disponibles.</p>
							</li>		
							<div id="alerta-errorCrearVacante" class="alert alert-danger collapse text-center"></div>
						</ul>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button id="btn-crear-horario" type="button" class="btn btn-danger" >Crear</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-disciplina" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
				
				{% if valor == '1'%}
					<h4 class="title-card" style="color:#d9534f">CP de {{nombreComplejo[0]['nombreComplejo']}}</h4>
				{% elseif valor == '2' %}
					<h4 class="title-card" style="color:#d9534f"> Complejo Deportivo - IPD </h4>
				{% endif %}

			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="alert-crear-disciplina-info" class="alert alert-warning alert-dismissible text-center" role="alert">
							<button id="btn-close-alert-crear-disciplina" type="button"  class="close" ><span aria-hidden="true">&times;</span></button>
							<p>Apertura una nueva disciplina</p>
						</div>
						<ul class="list-group">
							<div id="alerta-errorModal" class="alert alert-danger collapse text-center"></div>
							<!--<p id="alerta-errorModal"></p>-->
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Disciplina</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

										<select id="Disciplina" class="form-control"  name="Disciplina" >
									    	<option value="0" selected>--SELECCIONAR--</option>
								      		{% for disciplina in disciplinas %}
												<option value="{{disciplina['dis_codigo']}}">{{disciplina['dis_descripcion']}}</option>
											{% endfor %}
									    </select>
									</div>
									
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button id="btn-confirm" type="button" class="btn btn-danger">Crear</button>
			</div>

		</div>
	</div>
</div>

<!--CREAR NUEVA DISCIPLINA-->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarDisciplina">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background:#EBE6E5; color:white">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Mensaje de confirmación. </p>
      </div>
      <div class="modal-body">
      		<p class="text-center" style="color:grey">¿ Estás seguro de crear esta nueva disciplina ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-btn-si">Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no">No</button>
      </div>
    </div>
  </div>
</div>

<!--NO SE PUEDE ELIMINAR HORARIO-->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="errorEliminacionHorario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Advertencia</p>
      </div>
      <div class="modal-body">
      		<p class="text-center" style="color:grey"> Para eliminar este horario, deberá retirar a todos sus beneficiarios y volverlos a inscribir en un horario disponible.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarEliminarHorario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Mensaje de confirmación. </p>
      </div>
      <div class="modal-body">
      		<strong><p class="text-center" style="color:#B40404; font-weight:bold">¿Estás seguro de eliminar este horario? </p></strong>
      		<p class="" style="color:grey">
      		Recuerda que:<br>
			1) No podrás revertir el proceso. <br>
			2) La lista de beneficiarios asociados al horario ya no serán visibles.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-btn-si-horario">Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no-horario">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarEliminarDisciplina">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Mensaje de confirmación. </p>
      </div>
      <div class="modal-body">
      		<strong><p class="text-center" style="color:#0B2161; font-weight:bold">¿Estás seguro de eliminar esta disciplina? </p></strong>
      		<p class="" style="color:grey">
      		Recuerda que:<br>
			Para la eliminación de una disciplina, no deben existir registros creados de horarios ni beneficiarios.</p>
      </div>
      <div class="modal-footer">
      	<strong><p class="text-center" style="color:#B40404; font-weight:bold">¿Desea continuar? </p></strong>

        <button type="button" class="btn btn-danger" id="modal-btn-si-disciplina">Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no-disciplina">No</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="{{asset('assets/vendor/js/Horario/validacionesHorario2.js')}}"></script>
<script src="{{asset('assets/vendor/js/Horario/agregarTurnos.js')}}"></script>

<script type="text/javascript">
		
	
        // FUNCION PARA SELECCIONAR LA FRECUENCIA EN LOS HORARIOS 

        var turno = document.getElementById('turno');


		/* EDITAR HORARIO*/

		function editarHorario(idHorario, idDisciplina){
			
			sessionStorage.removeItem('flagOcularHorario');
			$("#cbx-horario").prop('checked', false);
			$("#btn-actualizar").attr('value','Actualizar');
			$("#advertencia").hide();

			var idHorario = idHorario;
			var idDisciplina = idDisciplina;
			
			clearData();
			
			var dataHorario = {
				"idHorario" : idHorario,
				"idDisciplina" : idDisciplina
			};

			$.ajax({
				type:'POST',
				dataType: "json",
				url: "{{url('akademia_mostrarHorarioIndividual')}}",
				data: dataHorario,

				beforeSend: function(){				
					
				},
				success : function(data){
					if(data != 1){

						var dataHorario =JSON.parse(data)[0];
						console.log("Data Horario =>",dataHorario);

						$("#editar_codigo_horario").append(dataHorario.idHorario);
						$("#editar_disciplina_horario").append(dataHorario.nombreDisciplina);
						$("#editar_edades_horario").append(dataHorario.edad);
						$("#editar_modalidad_horario").append(dataHorario.modalidad);

						if(dataHorario.etapa=='Formación'){
							$("#editar_etapa_horario").val(0);
							console.log("Formacion")
						}else if(dataHorario.etapa=='Masificación'){
							$("#editar_etapa_horario").val(1);
							console.log("Masificación");
						}
						
						$("#editar_convocatoria_horario").val(dataHorario.convocatoria);
						$("#editar_vacantes_horario").val(dataHorario.vacantes);
						$("#editar_preinscripciones_horario").val(dataHorario.preinscripciones);
						
						dataHorario.turnos.forEach(function(value,index){
							$("#editar_frecuencia_horario").append(`<div>${value.frecuencia}</div>`);
							$("#editar_dias_horario").append(`<div>${value.hora}</div>`);
						});

					}else{
						alertify.error('<p style="color:white">Se produjo un error al cargar los datos del Horario. </p>'); 
					}

				},
				error : function(data){

				},
			})
		}

		/*ACTUALIZAR Y/O ELIMINAR  HORARIO*/

		$('#cbx-horario').on( 'click', function() {
			
		    if($(this).is(':checked'))
		    {
		        $("#advertencia").show();
		        sessionStorage.setItem('flagOcularHorario',$(this).val());
		        $("#btn-actualizar").attr('value',"Eliminar");
		    
		    }else{
		    	sessionStorage.removeItem('flagOcularHorario');
		    	$("#advertencia").hide();
		    	$("#btn-actualizar").attr('value',"Actualizar");

		    }
		});		

		// ACTUALIZAR Y ELIMINAR HORARIOS 

		function actualizarHorario(){

			console.log('Flag Horario =>',sessionStorage.getItem('flagOcularHorario'));

			if(sessionStorage.getItem('flagOcularHorario') == '1' ){

				var codHorario = $("#editar_codigo_horario").text();	
				console.log(sessionStorage.getItem('flagOcularHorario'));

				var data={
					"idHorario" : codHorario
				};

				$.ajax({
						type:'POST',
						dataType: "json",
						url: "{{url('akademia_cantInscritos')}}",
						data: data,
						success: function(data){

							if(data == 2){
								$("#errorEliminacionHorario").modal('show');
							}else{

								/*FUNCION PARA ELIMINAR HORARIO*/
								var confirmarHorario = function(callback){
											
									$("#confirmarEliminarHorario").modal('show');					
									$("#modal-btn-si-horario").on("click", function(){
								    	callback(true);
								    	$("#confirmarEliminarHorario").modal('hide');
								  	});
								  
									$("#modal-btn-no-horario").on("click", function(){
									    callback(false);
									    $("#confirmarEliminarHorario").modal('hide');
									});
								}

								confirmarHorario(function(confirm){
								  
									if(confirm){

									  	var idHorario = $("#editar_codigo_horario").text();	
										
										var dataOcultarHorario={
											"idHorario" : idHorario
										};

										$.ajax({
											type:'POST',
											dataType: "json",
											url: "{{url('akademia_ocultarHorario')}}",
											data: dataOcultarHorario,
											beforeSend: function(){				
											},
											success: function(data){
												if(data == 1){
													console.log(data);
													window.location.href = "horarios/{{idTemporada}}";
												}
											},
											error: function(error){
												console.log(error);
											}
										});
									}
								});

							}
						},
						error: function(error){
							console.log(error);
						}
				})
				
			}else{

				// ACTUALIZAR LOS HORARIOS
				console.log(sessionStorage.getItem('flagOcularHorario'));
				if($("#editar_vacantes_horario").val()==""){
	               	alertify.error('<p style="color:white">Se requiere que ingrese la cantidad de vacantes. </p>'); 
	               	$("#editar_vacantes_horario").focus();

	            }else if($("#editar_preinscritos_horario").val()==""){
	            	alertify.error('<p style="color:white">Se requiere que ingrese el límite de preinscripciones. </p>'); 
	               	$("#editar_preinscripciones_horario").focus();

	            }else if($("#editar_convocatoria_horario").val()==""){
	            	alertify.error('<p style="color:white">Seleccione la convocatoria. </p>');

	            }else if(parseInt($("#editar_vacantes_horario").val())<0){
					alertify.error('<p style="color:white">Verifique el número de vacantes. </p>');

	            }else if(parseInt($("#editar_preinscripciones_horario").val()) < parseInt($("#editar_vacantes_horario").val())){
	            	
	            	$("#btn-actualizar").attr("data-dismiss", "");
	            	showAlertMessage('#alerta-errorEditarVacante', "Verifique que el Nº vacantes de Preinscritos sea mayor al Nº de vacantes de Inscritos.");

	            }else if($("#editar_convocatoria_horario").val()!= "" && $("#editar_vacantes_horario").val()!="" && $("#editar_preinscripciones_horario").val() != ""){
	            		
	            		$("#btn-actualizar").attr("data-dismiss", "modal");

			           	var idHorario = $("#editar_codigo_horario").text();
						var vacantes = $("#editar_vacantes_horario").val();
						var preinscripciones = $("#editar_preinscripciones_horario").val()
						var convocatoria = $("#editar_convocatoria_horario").val();
						var etapa = $("#editar_etapa_horario").val();


						var dataActualizarHorario={
							"idHorario" : idHorario,
							"vacantes" :vacantes,
							"preinscripciones" : preinscripciones,
							"convocatoria" : convocatoria,
							"etapa" : etapa
						};

						$.ajax({

							type:'POST',
							dataType: "json",
							url: "{{url('akademia_actualizarHorario')}}",
							data: dataActualizarHorario,

							beforeSend: function(){				
					
							},

							success: function(data){

								if(data != 1){

									var dataHorario =JSON.parse(data)[0];
									console.log(dataHorario);

									$("#1h"+dataHorario.id).empty();
									$("#7h"+dataHorario.id).empty();
									$("#8h"+dataHorario.id).empty();
									$("#9h"+dataHorario.id).empty();

									$("#1h"+dataHorario.id).text(dataHorario.id);

									if(dataHorario.convocatoria == 1){
										$("#7h"+dataHorario.id).text("Abierto");
										$("#7h"+dataHorario.id).css("color","green");
									}else{
										$("#7h"+dataHorario.id).text("Cerrado");
										$("#7h"+dataHorario.id).css("color","red");
										$("#7h"+dataHorario.id).css("font-weight","bold");
									}

									$("#8h"+dataHorario.id).text(dataHorario.vacantes);
									
									if(dataHorario.etapa == 0){
										$("#3h"+dataHorario.id).text("Formación");
									}else if(dataHorario.etapa == 1){
										$("#3h"+dataHorario.id).text("Masificación");	
									}

									if(dataHorario.preinscripciones == 0){
										$("#9h"+dataHorario.id).text(dataHorario.preinscripciones);
										$("#9h"+dataHorario.id).css("color","red");
										$("#9h"+dataHorario.id).css("font-weight","bold");

									}else{
										$("#9h"+dataHorario.id).text(dataHorario.preinscripciones);	
										$("#9h"+dataHorario.id).css("color","black");
									}
									


									alertify.success('<p style="color:black">Horario Actualizado .</p>');					
								}else{
									alertify.error('<p style="color:white">Error al actualizar los datos </p>'); 
								}
							},
							error: function(error){
							}
						});
	            }
			}
			
		} 

		function dateToHour(date){
			return date.toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
		}

		/*NUEVO HORARIO*/
		function disciplina(idDisciplina2){

			diasElegidos = [];
			clearDataCrear();

			$("#idDisciplinaNewHorario").val(idDisciplina2);
			$("#diasTurno :checkbox").attr('checked', false);
			$("#idDisciplina").val(idDisciplina2);
			var idDisciplina = $("#idDisciplina").val();

			var datos = {
						  'idDisciplina': idDisciplina2
			};

			$.ajax({
				type:'POST',
				dataType: 'json',
				url: "{{url('akademia_getRankAgesDiscipline')}}",
				data: datos,
				beforeSend: function(){				
					console.log('Enviado Id Disciplina => ',datos);
				},

				success: function(data){
					
					if(parseInt(data) == 0){
						alertify.error('<p style="color:white">Se produjo un error!. </p>');
					}else{

						data.forEach(function(value,index){
							sessionStorage.removeItem('edad_min_convencional');
							sessionStorage.setItem('edad_min_convencional',value.edad_min_convencional);

							sessionStorage.removeItem('edad_max_convencional');
							sessionStorage.setItem('edad_max_convencional',value.edad_max_convencional);

							sessionStorage.removeItem('edad_min_discapacitado');
							sessionStorage.setItem('edad_min_discapacitado',value.edad_min_discapacitado);

							sessionStorage.removeItem('edad_max_discapacitado');
							sessionStorage.setItem('edad_max_discapacitado',value.edad_max_discapacitado);
						});
					}

				},

				error: function(data){

					alertify.error('<p style="color:white">Se produjo un error!. </p>');	
					console.log(data);
				},
			});
		}
		
		/*CREAR NUEVO HORARIO*/

		$("#CrearDisc").on("click", function(){
			$("#Disciplina").val(0);
		});


		/* CONFIRMAR LA CREACION DE DISCIPLINAS*/

		var modalConfirm = function(callback){
  
		  $("#btn-confirm").on("click", function(){

		  	if($("#Disciplina").val() == 0){

		  		$("#btn-confirm").attr("data-dismiss", "");
		  		showAlertMessage('#alerta-errorModal', "Debe seleccionar una disciplina ");

		  	}else{
		  		$("#btn-confirm").attr("data-dismiss", "modal");
		  		$("#confirmarDisciplina").modal('show');

		  	}
		   
		  });

		  $("#modal-btn-si").on("click", function(){
		    	callback(true);
		    	$("#confirmarDisciplina").modal('hide');
		  });
		  
		  $("#modal-btn-no").on("click", function(){
		    	callback(false);
		    	$("#confirmarDisciplina").modal('hide');
		  });
		};

		modalConfirm(function(confirm){
		  if(confirm){
		  	crearDisciplina()
		  }
		});


	/*CREAR NUEVA DISCIPLINA*/
	
	function crearDisciplina(){
		var disciplina = $("#Disciplina").val();
		console.log(disciplina);

		if(disciplina != ""){
			var Datadisciplina = {
				"idDisciplina" : disciplina
			};

			$.ajax({
				type:'POST',
				dataType: 'json',
				url: "{{url('akademia_crearDisciplina')}}",
				data: Datadisciplina,
				beforeSend: function(){				
				
				},

				success: function(data){
					if(data == 1){

						alertify.success('<p style="color:white">Nueva disciplina creada exitosamente</p>');	
						window.location.href = "horarios/{{idTemporada}}";
											
					}else if(data == 2){

						alertify.success('<p style="color:white">Disciplina creada exitosamente</p>');	
						window.location.href = "horarios/{{idTemporada}}";

					}else{

						alertify.error('<p style="color:white">Se produjo un error al crear la nueva disciplina. </p>');	
						console.log(data);
					}
				},

				error: function(data){

					alertify.error('<p style="color:white">Se produjo un error al crear la nueva disciplina. </p>');	
					console.log(data);
				},
			});

		}else{
			alertify.error('<p style="color:white">Debe seleccionar una disciplina a crear. </p>');			
		}
	}

	/*ELIMINAR DISCIPLINA*/

	function xDisciplina($idDisciplina){
		
		console.log($idDisciplina);

		var modalConfirmDisciplina = function(callback){

		  	$("#modal-btn-si-disciplina").on("click", function(){
		    	callback(true);
		    	$("#confirmarEliminarDisciplina").modal('hide');
		  	});
		  
		  	$("#modal-btn-no-disciplina").on("click", function(){
		    	callback(false);
		    	$('#confirmarEliminarDisciplina').modal('hide');
		  	});

		}

		modalConfirmDisciplina(function(confirm){
			if(confirm){
				eliminarDisciplina($idDisciplina);
			}
		});

	}

	// ELIMINAR DISCIPLINA

	function eliminarDisciplina($idDisciplina){

		console.log("codigo de la disciplina =>",$idDisciplina);
		$.ajax({
			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_eliminarDisciplina')}}",
			data:{codigoDisciplina:$idDisciplina},
			beforeSend: function(){				
			},
			success: function(data){
				console.log("DATA Eliminar DIsciplina => ",data);
				if(data == 1){
					alertify.error('<p style="color:white">Esta disciplina no puede eliminarse.</p>');					
				}else if(data == 2){
					alertify.success('<p style="color:white">La disciplina se eliminó correctamente.</p>');	
					window.location.href = "{horarios/{{idTemporada}}";
				}
			},
			
			error: function(error){
				console.log(data);
			},
		});
	}

	/* MOSTRAR MENSAJE DE ALERTA */
	function showAlertMessage(alert, mensaje){
		$(alert).text(mensaje).show('fade');
		setTimeout(function(){
			hideAlertMessage(alert);	
		}, 6000);
	}

	/* COULTAR ALERTA*/
	function hideAlertMessage(alert){
		$(alert).hide('fade');
	}

	function validateHora(n){
		
		if ( n.length > n.maxLength ) 
	        n.value = n.value.slice(0, n.maxLength);
	    
	   if ( n.value > n.max ) 
	        n.value = n.value.slice(0, n.maxLength-1);
	    
	    if ( n.value < n.min ) 
	        n.value = n.value.slice(0, 0);
	}

	function validateMinuto(n){
		
		if ( n.length > n.maxLength ) 
	        n.value = n.value.slice(0, n.maxLength);
	    
	   if ( n.value > n.max ) 
	        n.value = n.value.slice(0, n.maxLength-1);
	    
	    if ( n.value < n.min ) 
	        n.value = n.value.slice(0, 0);
	}

	$("#modalidad-horario").on('change',function(){

		if( $("#modalidad-horario").val() == '0' ){
			$("#textEdad").html(`<b style="font-size:1em;" >${sessionStorage.getItem('edad_min_convencional')} a ${sessionStorage.getItem('edad_max_convencional')} años.</b>`);

		}else if( $("#modalidad-horario").val() == '1' ){
			$("#textEdad").html(`<b style="font-size:1em;" >${sessionStorage.getItem('edad_min_discapacitado')} a ${sessionStorage.getItem('edad_max_discapacitado')} años.</b>`);
			
		}else{
			$("#textEdad").html('');
		}
	});

</script>

{% endblock %}

