<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

     	<link rel="icon" type="image/x-icon" href="{{asset('assets/images/favicon.png')}}"/>
		<title>La Academia IPD</title>
		<link href="https://file.myfontastic.com/YmJUfPpwy2GMnYpbPNqWHN/icons.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<link rel='stylesheet' href="{{asset('cssLanding/estilos-generales.css')}}">
		<link rel='stylesheet' href="{{asset('cssLanding/download_app.css')}}">
		<link rel='stylesheet' href="{{asset('cssLanding/news_and_news.css')}}">
		<link rel='stylesheet' href="{{asset('cssLanding/req-preinscribete.css')}}">
		<link rel='stylesheet' href="{{asset('cssLanding/header.css')}}">
		<link rel='stylesheet' href="{{asset('cssLanding/etapas-deportivas.css')}}">
		<link rel='stylesheet' href="{{asset('cssLanding/consultas.css')}}">
		<link rel="stylesheet" href="{{asset('cssLanding/estilosInput.css')}}">
		<link rel='stylesheet' href="{{asset('cssLanding/estilos.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Playball|Roboto|Shrikhand|Source+Serif+Pro" rel="stylesheet">
		<link rel="stylesheet"  href="{{asset('assets/vendor/css/cssAlertify/alertify.css')}}">
	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/plugins/CSSPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/easing/EasePack.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js"></script>

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('assets/logofavicon.png') }}" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120386328-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-120386328-1');
        </script>
         
    </head>
<body>


<section class="header">


	<div class="header-principal" style="background-image: url( {{asset('imgLanding/slider_1.png')}} )" >


		<div class="hero__overlay hero__overlay--gradient"></div>

		<div class="container__menu">

			<div class="container-movile container__menu-movile-transparent" id="men-mov">

				<div>
					<p class="inicio">La Academia IPD</p>
				</div>

				<div class="logo-movile" >
					<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg>
				</div>

			</div>

			<div class="container__menu-movile-transparent container__menu-movile " id="menu-movile">

				<div>
					<div class="hide" id="logo-principal-menu"  >

						<img src="{{asset('imgLanding/logo_academia.png')}}" width="80" class="inicio-logo-menu">

					</div>
					<p class="inicio" id="titulo-principal-menu" >La Academia IPD</p>

				</div>

				<ul>
					<li id="etapas" ><a href="#etapas">Etapas</a></li>
					<li id="requisitos"><a href="#requisitos">Requisitos</a></li>
					<li id="app"><a href="#app">App</a></li>
					<li id="noticias"><a href="#noticias">Conócenos</a></li>
					<li id="consultas"><a href="#consultas">Consultas</a></li>
					<li id="intranet">Intranet</li>
				</ul>

			</div>

		</div>	
		
		<div class="container__content">
			<div>
				<div class="container__logo" >

					<img src="{{asset('imgLanding/logo_academia.png')}}" id="logo-principal">

				</div>
				<div class="container__mensaje" style="" >
					<p   id="mensaje-principal">Talleres deportivos <b>GRATUITOS</b></p>
					<p  >desde los 6 hasta los 17 años a nivel nacional.</p>
				</div>
				<div class="containe__button">

					<button class="btn-verHorario" data-toggle="modal" data-target="#modal-escoger-tipo-horario">Horarios</button>

					<button class="btn-preInscribete" id="pre-inscribete" >Pre Inscríbete</button>
				</div>
			</div>
		</div>

	</div>

	<div class="container-scroll">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>

</section>

	<div class="etapas__deportivas">
		<div class="container">
			<h1 class="title__etapas__deportivas" id="title-etapas-deportivas" >Etapas Deportivas</h1>
		</div>

		<div class="container__cards">

			<div class="card" style="position:relative;">
				<div class="estilo-numeracion">
					1
				</div>

				<div class="container__imagen">

					<img src="{{asset('imgLanding/disenioRecreacion/iniciacion.png')}}">

				</div>
				<h4>Iniciación</h4>
				<p>Desarrollo de las capacidades físicas, coordinativas y sociales.</p>
			</div>

			<div class="card" style="position:relative;">
				<div class="estilo-numeracion">
					2
				</div>
				<div class="container__imagen">

					<img src="{{asset('imgLanding/disenioRecreacion/formacion.png')}}">

				</div>
				<h4>Formación</h4>
				<p>Desarrollo de las habilidades específicas del deporte.</p>
			</div>

			<div class="card" style="position:relative;">
				<div class="estilo-numeracion">
					3
				</div>
				<div class="container__imagen">

					<img src="{{asset('imgLanding/disenioRecreacion/consolidacion.png')}}">

				</div>
				<h4>Consolidación</h4>
				<p>Dominio de destrezas deportivas, con proyección a competir.</p>
			</div>

		</div>

	</div>
	<!-- Expanded sections -->
	<div class="req-preinscribete">
		<div class="container">

			<div class="container__img-preinscripcion__lista" >

				<div class="container__img-inscripcion">

					<div class="container__texto">
						<h2 class="text-center">¿Cuáles son los requisitos?</h2>
					</div>

					<img src="{{asset('imgLanding/disenioRecreacion/autorizacionPadre.png')}}">

					<div class="container__buton-pre-inscribete">
						<button href="#" class="btn btn-success btn-success-mod" >Pre-inscríbete</button>
					</div>
				</div>

				<div class="container__lista__titulo">

					<div class="container__ul-list-req">
						<div class="container__list-req">

							<img src="{{asset('imgLanding/disenioRecreacion/menorEdad.png')}}">

							<div>
								<p class="text-left">Ser menor de edad entre los <b>6 y 17 años</b>.</p>
							</div>
						</div>

						<div class="container__list-req">

							<img src="{{asset('imgLanding/disenioRecreacion/dni.png')}}" class="img-size">

							<div class="text-size">
								<p class="text-left"><b>Copia y original del DNI</b> del menor de edad y del padre/madre o apoderado.</p>
							</div>
						</div>

						<div class="container__list-req">

							<img src="{{asset('imgLanding/disenioRecreacion/seguro.png')}}">

							<div>
								<p class="text-left"><b>Copia del seguro médico</b> del menor de edad (ESSALUD, SIS, seguro privado u otro).</p>
							</div>
						</div>

						<div class="container__list-req">

							<img src="{{asset('imgLanding/disenioRecreacion/foto.png')}}" class="img-size">

							<div class="text-size">
								<p class="text-left">Foto <b>tamaño carné</b> del menor de edad (actualizada).</p>
							</div>
						</div>

						<div class="container__list-req">

							<img src="{{asset('imgLanding/disenioRecreacion/autorizacionPadre.png')}}" class="img-size">

							<div class="text-size">
								<p class="text-left"><b>Descarga </b>la ficha de <b>pre inscripción</b> y la <b>declaración jurada</b> de autorización firmada.</p>
							</div>
						</div>
					</div>

				</div>
				
			</div>

			<div class="container__hero__button">
				<button href="#" class="btn btn-success btn-success-mod" ><i class="icon-pencil-square-o"></i>Pre-inscríbete</button>
			</div>

		</div>
	</div>

	<section class="download-app">
		<div class="container-fluid">
			<div class="row">

				<div class="container__texto__image__video">

					<div class="container__image__video" >

						<div class="container__iframe  col-xs-12  col-sm-6  col-md-6">

							<div class="container__texto">
								<h2 class="text-left">Descarga nuestra aplicación móvil:</h2>
								<!--<h2 class="text-left"><i>Academia IPD</i></h2>-->
							</div>

							<iframe src="https://www.youtube.com/embed/Vdr9X0I29xQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							<div class="container-mensaje-iframe" >
								<p class="text-left">Encuentra a los potenciales talentos deportivos del programa La Academia a nivel nacional.</p>
							</div>
								
						</div>

						<div class="images__app col-xs-12 col-sm-6 col-md-6 ">

							<img src="{{asset('imgLanding/pantallazos.png')}}">
							<img src="{{asset('imgLanding/img_google_play.png')}}">

						</div>

					</div>

				</div>

			</div>
		</div>
	</section>

	<div class="news-and-news">

		<div class="container">
			
			<div class="container__news-and-news">
				
				<div class="container__titulo__videos">
				
					<div class="container__videos">

						<div class="container__iframe__noticia">

							<div class="container__texto">
								<h2 class="text-left">Conócenos</h2>
							</div>

							<iframe src="https://www.youtube.com/embed/gUbes8Ylddk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							<div class="container-mensaje-iframe" >
								<p class="text-left">Spot La Academia.</p>
							</div>
						</div>
	
						<div class="container__iframe__noticia" >
							<iframe  src="https://www.youtube.com/embed/eTEwKfaXH7I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							<div class="container-mensaje-iframe" >
								<p class="text-left">Reportaje App La Academia.</p>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>


<section class="consultas">

	<div class="container-input" >

		<div class="container__texto">
			<h2 class="text-left"><strong>Consultas: </strong></h2>
		</div>

		<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 ind-input">
			<div>
				<i class="icon-user"></i>
			</div>
	        <div>
	    		<input type="text" class="effect-3" maxlength="60" id="nombre-usuario-ext" type="text"  placeholder="¿Cuál es tu nombre?">
	        	<span class="focus-border"></span>
	        </div>
	     </div>

		<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 ind-input">
			<div>
				<i class="icon-mail"></i>
			</div>
	        <div>
	    		<input type="text" class="effect-3" maxlength="60" id="email-usuario-ext"  type="text"  placeholder="¿Cuál es tu correo?">
	        	<span class="focus-border"></span>
	        </div>
	     </div>

		<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ind-input">
			<div>
				<i class="icon-pencil-square-o"></i>
			</div>
	        <div>
	    		<textarea class="effect-3" maxlength="1200" id="message-usuario-ext" type="text"  placeholder="Bríndanos tu consulta, comentario o sugerencia:"></textarea>  
	        	<span class="focus-border"></span>
	        </div>
	     </div>

		<div class="container-btn-enviar">
			<button class=" btn__informacion btn__informacion-sucess" id="enviar-correo-usuario-ext"><i class="icon-paper-plane-o"></i> Enviar</button>
	    </div>

	</div>


	<div class="container__btn__informacion">

		<div class="col-xs-6 col-sm-3 col-md-3">
			<button class=" btn__informacion" id="infografia">Infografía</button>
		</div>
		
		<div class="col-xs-6 col-sm-3 col-md-3">
			<button class="btn__informacion" id="videos">Videos</button>	
		</div>

		<div class="col-xs-6 col-sm-3 col-md-3">
			<button class="btn__informacion" id="galeria">Galeria</button>	
		</div>

		<div class="col-xs-6 col-sm-3 col-md-3">
			<button class="btn__informacion" id="manual">Manual</button>	
		</div>
		
	</div>

</section>


<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>

				<img class="align-self-center foot"  width="200" src="{{asset('imgLanding/ipdfooter.jpg')}}">

			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br>
				<h2>La Academia</h2>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br>
				<h2>Enlaces de Interés</h2>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>

</footer>

  <!-- Modal -->
<div class="modal fade" id="modal-escoger-tipo-horario" role="dialog">
    <div class="modal-dialog modal-md" style=" max-width: 450px;" >
      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title text-center">Selecciona la modalidad deportiva</h4>
	        </div>

	        <div class="modal-body">

	          <div class="container container-button-modal" >
	          	<div class="row">
		          	<div class="col-xs-12 col-md-5" >
		          		<a href="horarios-disponibles/0"><button class="btn-verHorario">Convencionales</button></a>
		          	</div>

		          	<div class="col-xs-12 col-md-7" >
		          		<a href="horarios-disponibles/1"><button class="btn-verHorario">Personas con Discapacidad</button></a>
		          	</div>
		         </div>
	          </div>

	        </div>

	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#CB3F1D; color:white; font-weight:bold;" >Salir</button>
	        </div>
	      </div>
	    </div>
  	</div>
</div>



</body>

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<script src="{{asset('assets/vendor/js/alertify.js')}}"></script>
	<script src="{{asset('jsLanding/app.js')}}"></script>
	<script src="{{asset('jsLanding/animaciones.js')}}"></script>


	<script >
		$(document).ready(function(){

			$btnInfografia = $("#infografia");
			$btnVideos = $("#videos");
			$btnGaleria = $("#galeria");
			$btnManual = $("#manual");

			$enviarCorreoUsuarioExt = $("#enviar-correo-usuario-ext");

			TweenLite.to($("#mensaje-principal,#logo-principal"),3,{alpha:1});


			$("#pre-inscribete").on('click',function(){
				window.open('ficha-preinscripcion');
			});

			$("#intranet").on('click',function(){
				window.open('login','_blank');
			});

		 	function EnviarEmail(){

		        if($("#nombre-usuario-ext").val()==""){
		            alertify.error('Se requiere su nombre'); 
		        }else if($("#email-usuario-ext").val()==""){
		             alertify.error('Se requiere su correo electrónico'); 
		        }else if($("#message-usuario-ext").val()==""){
		             alertify.error('Se requiere su contenido del mensaje'); 
		        }else{

			        var enviosugerencia={
			            "nombre" : $("#nombre-usuario-ext").val(),
			            "email" : $("#email-usuario-ext").val(),
			            "message" : $("#message-usuario-ext").val()
			        }
			  
			       $.ajax({
			            type:'POST',
			            dataType: 'json',
			            url: "{{url('akademia_sendemail')}}",
			            data: enviosugerencia,
			            beforeSend: function(){
			            },
			            success: function(data){
			                	if(data=="1"){
			                		alertify.success('Mensaje Enviado Correctament!'); 
			                	}else{
			                		alertify.error('No se pudo Enviar el mensaje!');
			                	}
			                    $("#name").val("");
			                    $("#email").val("");
			                    $("#message").val("");

			            }, error: function(error){
			                console.log(error);
			            }
			        });
	        	}
	    	}

	    $enviarCorreoUsuarioExt.on('click',function(){
	    	EnviarEmail();
	    });

	    $btnInfografia.on('click',function(){
	    	window.open('http://www.ipd.gob.pe/images/Infografia-Academia-01.png','_blank');
	    });

	    $btnVideos.on('click',function(){
	    	window.open('http://www.ipd.gob.pe/videos-la-academia','_blank');
	    });

	    $btnGaleria.on('click',function(){
			window.open('http://www.ipd.gob.pe/galeria-la-academia','_blank');
	    });

	    $btnManual.on('click',function(){
	    	window.open('http://www.ipd.gob.pe/manual-de-la-academia-ipd','_blank');
	    });

	});


   
	</script>

</html>