{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <span class="navbar-text">
                        <h3>TEMPORADA {{descripcionTemporada[0]['ciclo']}}-{{descripcionTemporada[0]['anio']}}</h3>
                    </span>
                    <br>
                    <ul class="nav navbar-nav navbar-right">
						<li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
					</ul>
                    <span class="navbar-text navbar-right" style="margin-right:30px;">
                        Usuario: <b>{{app.user.username}}</b>
                    </span>
                </div>
            </div>
        </nav>
    </header>
	
<section  id="inscribete"  class="proceso-inscripcion">

	<div class="container text-center" style="margin-top: 10px; margin-bottom: 130px;">

		<div class="row" style="margin-bottom: 30px;"> 
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
				<label>Temporada</label>
				<select  class="form-control" id="temporada">
					{% for temp in temporadasHabilitadas %}
						{%  if idTemporadaHabilidatada == temp.temporadaId %}
							<option value="{{temp.temporadaId}}" selected >{{temp.anio}}-{{temp.ciclo}}</option>
						{% else %}
							<option value="{{temp.temporadaId}}">{{temp.anio}}-{{temp.ciclo}}</option>
						{% endif %}
					{% endfor %}
				</select>	
			</div>	
		</div>

		{% if  is_granted('ROLE_ANALISTA') %}	
			<h1>ANALISTA DEPORTIVO </h1>
		{% else %}
			{% if valor == '1'%}
				<h1> CP {{nombreComplejo[0]['nombreComplejo'] }} </h1>
			{% elseif valor == '2' %}
				<h1> Complejo Deportivo - IPD </h1>
			{% endif %}
		{% endif %}

		<h4 style="color:grey">PANEL DE ADMINISTRACIÓN</h4>
		<hr>
		{% if  is_granted('ROLE_ANALISTA') %}	
		<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px; margin-bottom: 20px;">
			<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
			<p>Detección, gestión de potenciales talentos deportivos y beneficiarios.</p>
		</div>


		{% else %}
		<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px; margin-bottom: 20px;">
			<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
			<p> Utilizar las siguiente herramientas para administrar su complejo deportivo, horarios, beneficiarios, pre- inscripción directa, etc.</p>
		</div>

		{% endif %}
		
		<div class="row text-center">	
			{% if is_granted('ROLE_ADMIN') %}

				{% if faseTemporada != 10 %}

					<div id="option-beneficiarios" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
						<a href="{{url('akademia_fichaPreInscripcion',{'idTemporada':idTemporadaHabilidatada})}}">
							<div class="card">
								
								<img src="{{ asset('assets/images/preinscripcion-directa.png') }}" width="130" height="140">
								<p class="title-card">Inscripción directa</p>
							</div>
						</a>
					</div>


				<div id="option-validacion" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{url('akademia_inscritos',{'idTemporada':idTemporadaHabilidatada})}}">
						<div class="card">

							<img src="{{ asset('assets/images/icon_confirmar.png') }}" width="130" height="140">
							<p class="title-card">Validar fichas de Pre-Inscritos</p>
						</div>
					</a>
				</div>

				{% endif %}


				<div id="option-horarios" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{url('akademia_horarios',{'idTemporada':idTemporadaHabilidatada})}}">
						<div class="card">
							<img src="{{ asset('assets/images/icon_horarios.png') }}" width="130" height="140">
							<p class="title-card">Disciplinas / Horarios / Beneficiarios</p>
						</div>
					</a>
				</div>

				{% if faseTemporada != 10 %}

					
					<div id="option-exportacion" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
						<a href="{{url('akademia_exportData',{'idTemporada':idTemporadaHabilidatada})}}">
						<div class="card">
							<img src="{{ asset('assets/images/icon_data.png') }}" width="130" height="140">
							<p class="title-card">Exportación excel y Reportes</p>
						</div>
						</a>
					</div>

				{% endif %}

			{% elseif is_granted('ROLE_ANALISTA') %}

				<div id="option-exportacion" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{url('akademia_exportData',{'idTemporada':idTemporadaHabilidatada})}}">
						<div class="card">
							<img src="{{ asset('assets/images/icon_data.png') }}" width="120" height="120">
							<p class="title-card">Exportación de datos </p>
						</div>
					</a>
				</div>	

				<div id="option-deteccion" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{url('akademia_evaluados',{'idTemporada':idTemporadaHabilidatada})}}">
						<div class="card">
							<img src="{{ asset('assets/images/talento.png') }}" width="120" height="120">
							<p class="title-card">Detección de talentos</p>
						</div>
					</a>
				</div>

				<div id="option-talentos" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{url('akademia_mostrarTalentos',{'idTemporada':idTemporadaHabilidatada})}}">
						<div class="card">
							<img src="{{ asset('assets/images/talent.png') }}" width="120" height="120">
							<p class="title-card">Gestión de talentos</p>
						</div>
					</a>
				</div>

				<div id="option-talentos" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{ url('akademia_disciplinasPrincipal',{'idTemporada':idTemporadaHabilidatada} )}}">
						<div class="card">
							<img src="{{ asset('assets/images/disciplina.png') }}" width="120" height="120">
							<p class="title-card">Disciplinas</p>
						</div>
					</a>
				</div>

			<div id="option-exportacion" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
				<a href="{{url('akademia_temporadasPrincipal',{'idTemporada':idTemporadaHabilidatada})}}">
					<div class="card">
						<img src="{{ asset('assets/images/temporada.png') }}" width="120" height="120">
						<p class="title-card">Temporada</p>
					</div>
				</a>
			</div>	
			{% elseif is_granted('ROLE_DOCENTE') %}
				
				<div id="option-horarios" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{url('akademia_horarios')}}">
						<div class="card">
							<img src="{{ asset('assets/images/icon_horarios.png') }}" width="120" height="120">
							<p class="title-card">Horarios y beneficiarios</p>
						</div>
					</a>
				</div>

				<div id="option-exportacion" class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
					<a href="{{url('akademia_exportData')}}">
						<div class="card">
							<img src="{{ asset('assets/images/icon_data.png') }}" width="120" height="120">
							<p class="title-card">Exportación de datos </p>
						</div>
					</a>
				</div>	

			{% endif %}
		</div>
	</div>

	<hr>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>
				<br>
				<br>
				<img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.png')}}">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>La Academia</h4>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>Enlaces de Interés</h4>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>
</footer>
{% endblock %}

{% block javascripts %}


<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>

<script type="text/javascript">

	/*Muestra mensaje de alerta*/
	function showAlertMessage(alert, mensaje){
		$(alert).text(mensaje).show('fade');
		setTimeout(function(){
			hideAlertMessage(alert);	
		}, 3000);
	}

	/*Oculta mensaje de alerta*/
	function hideAlertMessage(alert){
		$(alert).hide('fade');		
	}

	$("#temporada").on('change',function(){

		let url = "{{url('akademia_panel',{'idTemporada':123})}}";
		url = url.replace('123', $("#temporada").val() );
		location.href = url;

	});

</script>

{% endblock %}