{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}


<header>
	 <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
            	
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                       

                <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="logoAcademia" />                    
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <br>
                <ul class="nav navbar-nav navbar-right">
              
                    <li title="Regresar"><a href="{{url('akademia_homepage')}}"><i class="icon-back" style="font-size:1.9em; color:white" ></i></a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="proceso" style="display:flex !important; flex-wrap:wrap !important; align-items: center !important; justify-content: center !important; ">

	<h1 style=" font-weight:bold; color:gray; font-size:1.7em;">
		{% if estado == 0 %}
			Modalidad de Deportes Convencionales
		{% else %}
			Modalidad de Deportes Adaptados		
		{% endif %}
	</h1>

	<h2 style=" font-weight:bold; color:#000; font-size:1.4em;">
		Temporada Invierno 2018 (Marzo-Noviembre)
	</h2>

	<div class="proceso-inscripcion__horarios" id="process4">

		<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
			<div class="card">
				<p class="title-card text-center">ELIGE UN COMPLEJO DEPORTIVO</p>

				<hr>
				<div class="complejo row" >
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<label class="text-left complejo-titulo">Departamento</label>
						<div>
			            	<select id="departamentoHorario" class="effect-3"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this)">
			                	<option value="">--Seleccionar--</option>
									{% for depFlag in departamentosFlag %}

										<option value="{{depFlag['id']}}">{{depFlag['nombre']}}</option>

									{% endfor %}	
			            	</select>
			            	<span class="focus-border"></span>
			        	</div>
		        	</div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left complejo-titulo">Provincia</label>
		            	<div>
		                	<select  id="provinciaHorario" class="effect-3"  name="provinciaHorario" onchange="cambiarProvinciaHorario(this)">
		                    	<option value=""> -- Seleccionar --</option>
		                	</select>
		                	<span class="focus-border"></span>
		                </div>               
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left complejo-titulo">Distrito</label>
		            	<div>
		                	<select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="effect-3">
		                    	<option value=""> -- Seleccionar --</option>
		                	</select> 
		                	<span class="focus-border"></span>
		            	</div>
		            </div>

		            <div class="form-group col-xs-12 col-sm-5 col-md-5 col-lg-3">
		        		<label class="text-left complejo-titulo">Complejo Deportivo</label>
		        		<div>
		            		<select id="complejosDeportivo" name="complejosDeportivo" class="effect-3" onchange="cambiarComplejoDeportivo(this)">
		                		<option value=""> -- Seleccionar --</option>
		            		</select>
		            		<span class="focus-border"></span>
		            	</div>
		        	</div>
				</div>

				<div class="mapa row">
					<iframe  id="iframe_lugar" class= "well well-sm col-xs-12 col-sm-12"  width="800" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q='Peru%20lima'&key=AIzaSyCzpAv7N7yZaVqzwB7r-xuhJZnVWEvVimo" allowfullscreen></iframe>
				</div>
		   </div>
		</div>


		<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5" >
			<div class="card" style="height:62vh !important;">
				<p class="title-card text-center">DISCIPLINAS Y HORARIOS</p>
				<hr>
		        <div class="form-group container-select-deporte">
		        	<div>
		        		<label class="complejo-titulo">Disciplina </label>
		            	<select id="disciplinaDeportiva" name="disciplinaDeportiva" class="effect-3 text" onchange="cambiarDisciplinaDeportiva(this)" >
		                	<option value=""> -- Seleccionar --</option>
		            	</select>
		            	<span class="focus-border"></span> 
		        	</div>
		        </div>
		        <br>

		        <div class="form-group container-select-deporte">
		        	<div>
		        		<div style="width:100%; display:flex;justify-content:center; " >
		        			<label class="complejo-titulo" style="font-size:1.1em;text-align: center;" >Horarios con vacantes disponibles.</label>
		        		</div>

			        	<table class="table table-hover   table-horario" id="tableHorario" style="width:100%;"  >
			        	</table>

			        	<div class="container-loader-horario" id="container-loader-horario">
			        		<div>
			        			<div class="loader-horario"></div>
			        		</div>
			        		
			        	</div>
			        	
			        </div>
		        </div>
		        
			</div>

			<div style=" width:100%; display:flex; justify-content:center; align-items:center;" >
				<button  id="pre-inscribete" class="btn btn-success"  style="padding:8px 12px; background:rgba(64, 172, 44, 1); font-weight:bold; " >Pre-Inscribete</button>
			</div>
		</div>


</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">OTRAS EDADES</h4>
			</div>
			<div class="modal-body">
				<div class="horario-otrasEdades" >
				</div>
			</div>
			<div class="modal-footer">
				<br>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
	<script>

		var departamentoHorario = document.querySelector("#departamentoHorario");
		var cambiarDepartamentoHorario = (depHor)=>{

			var valDepHor = depHor.value;
			$("#provinciaHorario").empty();
			$("#distritoHorario").empty();
			$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
			$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#horario").empty();
			$("#tableHorario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			{% for proFlag in provinciasFlag %}
					
				if ( "{{proFlag['idDepartamento']}}" == valDepHor ){

					$("#provinciaHorario").append("<option value={{proFlag['idProvincia']}}  data-departamento = {{proFlag['idDepartamento']}} >{{proFlag['nombreProvincia']}}</option>");
				}
				
			{% endfor %}

		}

		var cambiarProvinciaHorario = (proHor)=>{
			
			idDepartamentoHorario = $(proHor[1]).attr('data-departamento');
			var valProHor = proHor.value;

			$("#distritoHorario").empty();
			$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#tableHorario").empty();
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			{% for disFlag in distritosFlag %}
						
				if( "{{disFlag['idDepartamento']}}" == idDepartamentoHorario &&  "{{disFlag['idProvincia']}}" == valProHor){
							
					$("#distritoHorario").append("<option value={{disFlag['ubigeoDistrito']}}>{{disFlag['nombreDistrito']}}</option>");
					}
			{% endfor %}
		}

		for (let i = 0; i < departamentoHorario.length; i++) {
			if(parseInt(departamentoHorario[i].value) == parseInt(sessionStorage.getItem('horIdDepartamento')) ){

				departamentoHorario[i].setAttribute('selected','selected');
				cambiarDepartamentoHorario(departamentoHorario);
				var provinciaHorario = document.querySelector("#provinciaHorario");
				
				for (let j = 0; j < provinciaHorario.length; j++) {
					if(parseInt(provinciaHorario[j].value) == parseInt(sessionStorage.getItem('horIdProvincia')) ){
						provinciaHorario[j].setAttribute('selected','selected');
						console.log("Provincia Horario ==>",provinciaHorario[j]);
						cambiarProvinciaHorario(provinciaHorario);
					}					
				}
			}
		}

		var cambiarDistritoHorario =  (disHor)=>{

			var idDistritoHorario = disHor.value;
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#horario").empty();
			$("#tableHorario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			{% for comDep in complejosDeportivos  %}

					if("{{comDep['ubicodigo']}}" == idDistritoHorario){
							$("#complejosDeportivo").append("<option value={{comDep['id']}} >{{comDep['nombre']}}</option>");
					}
			{% endfor %}
		}

		var cambiarComplejoDeportivo = (comDep)=>{

			var idComplejoDeportivo = comDep.value;
			
			$("#vacantes").empty();
			$("#turno").empty();
			$("#rango-edad-horario").empty();
			$("#rango-hora-horario").empty();
			$("#tableHorario").empty();
			$("#mensaje").empty();	

			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			{% for disDep in disciplinasDeportivas  %}

				if("{{disDep['idComplejoDeportivo']}}" == idComplejoDeportivo){
					
					var nombreDis = "{{ disDep['nombreDisciplina'] }} ";
					$("#disciplinaDeportiva").append("<option value = {{disDep['id']}}>"+nombreDis.trim()+"</option>");

				}
			{% endfor %}		
		}


		var cambiarDisciplinaDeportiva = (comDis)=>{
			
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			let idComplejoDisciplina = comDis.value;

			$("#boton-next-final").attr("disabled", false);
			$("#rango-hora-horario").empty();
			$("#rango-edad-horario").empty();
			$(".horario-otrasEdades").empty();
			$("#turno").empty();
			$("#vacantes").empty();
			$("#mensaje").empty();

			let datos = {
				'idComplejoDisciplina':idComplejoDisciplina,
				'flag':0,
				'flagDiscapacidad':"{{estado}}"
			};

			$.ajax({

				type:'POST',
				url: "{{url('tableHorario')}}",
				data: datos,
				beforeSend:function(){
					$("#container-loader-horario").show();
					$("#tableHorario").empty();
					console.log(datos);
				},
				success:function(data){
					$("#container-loader-horario").hide();
					$("#tableHorario").html(data);
				}
			});
		}

		$("#pre-inscribete").on('click',function(){
			window.open("{{url('akademia_fichaPreInscripcion')}}");
		});

	</script>

	<script src="{{asset('assets/vendor/js/googleMapsComplejo2.js')}}"></script>

{% endblock %}

