{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<div class="proceso">
	<div class="proceso-inscripcion__horarios" id="process4">
		<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
			<div class="card">
				<p class="title-card text-center">ELIGE UN COMPLEJO DEPORTIVO</p>
				<hr>
				<div class="complejo row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<label class="text-left">Departamento</label>
						<div>
			            	<select id="departamentoHorario" class="effect-3"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this)">
			                	<option value="">--Seleccionar--</option>
			                	{#{% for  dep in  departamentos  %}#}
									{% for depFlag in departamentosFlag %}
										{#{%  if dep['id'] == depFlag['idDepartamento'] %}#}
											<option value="{{depFlag['id']}}">{{depFlag['nombre']}}</option>
										{#{% endif %}#}

									{% endfor %}
			                	{#{% endfor %}#}	
			            	</select>
			            	<span class="focus-border"></span>
			        	</div>
		        	</div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Provincia</label>
		            	<div>
		                	<select  id="provinciaHorario" class="effect-3"  name="provinciaHorario" onchange="cambiarProvinciaHorario(this)">
		                    	<option value=""> -- Seleccionar --</option>
		                	</select>
		                	<span class="focus-border"></span>
		                </div>               
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Distrito</label>
		            	<div>
		                	<select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="effect-3">
		                    	<option value=""> -- Seleccionar --</option>
		                	</select> 
		                	<span class="focus-border"></span>
		            	</div>
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		        		<label class="text-left">Complejo Deportivo</label>
		        		<div>
		            		<select id="complejosDeportivo" name="complejosDeportivo" class="effect-3" onchange="cambiarComplejoDeportivo(this)">
		                		<option value=""> -- Seleccionar --</option>
		            		</select>
		            		<span class="focus-border"></span>
		            	</div>
		        	</div>
				</div>

				<div class="mapa row">
					<!--<iframe  id="iframe_lugar" class= "well well-sm col-xs-12 col-sm-12" width="800" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q='Peru%20lima'&key=AIzaSyCzpAv7N7yZaVqzwB7r-xuhJZnVWEvVimo" allowfullscreen></iframe>-->
					<iframe  id="iframe_lugar" class= "well well-sm col-xs-12 col-sm-12"  width="800" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q='Peru%20lima'&key=AIzaSyCzpAv7N7yZaVqzwB7r-xuhJZnVWEvVimo" allowfullscreen></iframe>
				</div>
		   </div>
		</div>

		<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5">

			<div class="card" style="height:67vh !important;">
				<p class="title-card text-center">DEPORTES Y HORARIOS</p>
				<hr>
		        <div class="form-group container-select-deporte">
		        	<div>
		        		<label>Deporte </label>
		            	<select id="disciplinaDeportiva" name="disciplinaDeportiva" class="effect-3 text" onchange="cambiarDisciplinaDeportiva(this)" >
		                	<option value=""> -- Seleccionar --</option>
		            	</select>
		            	<span class="focus-border"></span> 
		        	</div>
		        </div>
		        <br>

		        <div class="form-group container-select-deporte">

		        	<div>
		        		<div style="width:100%; display:flex;justify-content:center; " >
	        				<label class="complejo-titulo" style="font-size:1.05em;text-align: center;" >Horarios según la edad del participante con vacantes disponibles</label>
        				</div>

			        	<table class="table table-horario table-hover" id="tableHorario" style="width: 100%" >
			        	</table>

			        	<div class="container-loader-horario" id="container-loader-horario">
			        		<div>
			        			<div class="loader-horario"></div>
			        		</div>
			        	</div>

			        </div>
		        </div>
			</div>

			<div style=" width:100%; display:flex; justify-content:center; align-items:center;" >
				<button  id="boton-next-final" class="btn btn-danger"  style="padding:8px 12px; background:red; font-weight:bold; " >Finalizar Pre-inscripción</button>
			</div>
		</div>
	</div>

	<div class="proceso" id="process5">
		<!-- RENDERIZADO DE VISTAS POR ACCESO DEL PERFIL-->
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DOCENTE') %}
		<div class="row proceso">
			<div class="container-card col-xs-12 col-sm12 col-md-5 col-ld-5">
				<div class="card">
						<p class="title-card text-center">FICHA DE INSCRIPCIÓN</p>
						<p class="title-card text-center">ACADEMIA IPD INVIERNO 2018</p>
						<hr>
						<div id="alerta-confirmacionFicha" class="alert alert-success collapse"></div>
						<div id="alerta-errorFicha" class="alert alert-danger collapse"></div>
						<div class="row">
							<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right" id="inscribirPreinscrito"><button id="btn-inscripcion" class="btn btn-danger"><i class="icon-pencil-square-o" style="font-size:1.3em;"></i> Confirmar Inscripción</button>
							</a>
						</div>
						<hr>
						<div class="pdf_inscripcion__ficha row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="campos col-xs-4 col-sm-4 col-md-4 col-lg-4"> 	
									<p>Código de ficha</p>
									<p>Nombre</p>
									<p>Ape. Paterno</p>
									<p>Ape. Materno</p>
									<p>Distrito</p>
									<p>Domicilio</p>
									<p>Fecha Nacimiento</p>
									<p>Teléfono</p>
									<p>DNI</p>
									<p>Edad</p>
									<p>Email</p>
									<p>Deporte</p>
									<P>Modalidad</P>
									<p>Complejo</p>
									<p>Horario</p>
								</div>

								<div class="valores col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
									<p id="codigo-inscripcionRef"></p>
									<p id="nombre-ficha"></p>
									<p id="apellidoPaterni-ficha"></p>
									<p id="apellidoMaterno-ficha"></p>
									<p id="distrito-ficha"></p>
									<p id="domicilio-ficha"></p>
									<p id="fechaNacimiento-ficha"></p>
									<p id="telefono-ficha"></p>
									<p id="dni-ficha"></p>
									<p id="edad-ficha"></p>
									<p id="email-ficha"></p>
									<p id="deporte-ficha"></p>
									<p id="deporte-modalidad"></p>
									<p id="complejo-ficha"></p>
									<p id="horario-ficha"></p>
									<input type="hidden" name="codigo-inscripcion" id="codigo-inscripcion">
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<a class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" href="" id="ancla-imprimir-fichaInscripcion"  target="_blank" ><button id="btn-imprimir-fichaInscripcion"  class="btn btn-default" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;" ></i> Imprimir Ficha</button></a>

							<a class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center" href=""  id="ancla-imprimir-declaracion-jurada" target="_blank"><button id="btn-imprimir-declaracion-jurada" class="btn btn-default" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;"></i> Imprimir Declaración Jurada</button></a>
						</div>
					</div>
			</div>

		</div>

		{% else %}

		<div class="row">
			<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
				<div class="card">
					<p class="title-card text-center">PRE-INSCRIPCIÓN CONFIRMADA <i class="icon-checklist" style="font-size:1.4em;"></i></p>
					<hr>
					<p class="text-center">
						Valida tu inscripción en el complejo deportivo <br> que seleccionaste de 3 p.m. a 6 p.m.
					</p><br>
					<p class="text-center" style="color: #BB2626">
						<strong>NO SE RESERVAN VACANTES.</strong>
					</p>
					<div class="lista-requisitos"> 
						<p><strong>OBLIGATORIO</strong></p>
						<ol>
							<li>Presentar ficha de inscripción y declaración jurada firmada y con la huella dactilar del apoderado.</li>
							<li>DNI del menor de edad y del apoderado (original y copia).</li>
							<li>Presentar ficha de seguro activo (SIS, EsSalud, o privado).</li>
							<li>Foto tamaño carnet del menor de edad (actual). </li>
						</ol>
					</div>
					<hr>
					<div class="row">
						<a class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center" href="" id="ancla-imprimir-fichaInscripcion"  target="_blank" ><button id="btn-imprimir-fichaInscripcion"  class="btn btn-danger" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;" ></i> Imprimir Ficha</button></a>

						<a class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center" href=""  id="ancla-imprimir-declaracion-jurada" target="_blank"><button id="btn-imprimir-declaracion-jurada" class="btn btn-danger" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;"></i> Imprimir Declaración Jurada</button></a>
					</div>
				</div>
			</div>
			<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5">
				<div class="card">
					<p class="title-card text-center">FICHA DE INSCRIPCIÓN</p>
					<p class="title-card text-center">ACADEMIA IPD INVIERNO 2018</p>
					<hr>
					<div id="alerta-confirmacion" class="alert alert-success collapse"></div>
					<div id="alerta-error" class="alert alert-danger collapse"></div>
					
					<div class="pdf_inscripcion__ficha row">
						<div class="campos col-xs-4 col-sm-4 col-md-4 col-lg-4"> 	
							<p>Nombre</p>
							<p>Ape. Paterno</p>
							<p>Ape. Materno</p>
							<p>Distrito</p>
							<p>Domicilio</p>
							<p>F.Nacimiento</p>
							<p>Teléfono</p>
							<p>DNI</p>
							<p>Edad</p>
							<p>Email</p>
							<p>Deporte</p>
							<p>Modalidad</p>
							<p>Complejo</p>
							<p>Horario</p>
						</div>
						<div class="valores col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
							<p id="nombre-ficha"></p>
							<p id="apellidoPaterni-ficha"></p>
							<p id="apellidoMaterno-ficha"></p>
							<p id="distrito-ficha"></p>
							<p id="domicilio-ficha"></p>
							<p id="fechaNacimiento-ficha"></p>
							<p id="telefono-ficha"></p>
							<p id="dni-ficha"></p>
							<p id="edad-ficha"></p>
							<p id="email-ficha"></p>
							<p id="deporte-ficha"></p>
							<p id="deporte-modalidad"></p>
							<p id="complejo-ficha"></p>
							<p id="horario-ficha">

							</p>
							<input type="hidden" name="codigo-inscripcion" id="codigo-inscripcion">
						</div>
					</div>
					<hr>
				</div>
			</div>

		</div>

		{% endif %}		
	</div>

</div>

{% endblock %}

{% block javascripts %}

	<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
	<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
	<script src="{{asset('assets/vendor/js/googleMapsComplejo2.js')}}"></script>
	<script src="{{asset('assets/vendor/js/fichaPreInscripcion/tolTip.js')}}"></script>

	<script>

		$("#process5").hide();
		$("#boton-next-final").attr("disabled", true);
		
		var departamentoHorario = document.querySelector("#departamentoHorario");

		var cambiarDepartamentoHorario = (depHor)=>{

			var valDepHor = depHor.value;
			$("#provinciaHorario").empty();
			$("#distritoHorario").empty();
			$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
			$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#tableHorario").empty();

			{% for proFlag in provinciasFlag %}
					
				if ( "{{proFlag['idDepartamento']}}" == valDepHor ){

					$("#provinciaHorario").append("<option value={{proFlag['idProvincia']}}  data-departamento = {{proFlag['idDepartamento']}} >{{proFlag['nombreProvincia']}}</option>");
				}
				
			{% endfor %}
		}

		var cambiarProvinciaHorario = (proHor)=>{
			
			idDepartamentoHorario = $(proHor[1]).attr('data-departamento');
			var valProHor = proHor.value;

			$("#distritoHorario").empty();
			$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#tableHorario").empty();

			{% for disFlag in distritosFlag %}
						
				if( "{{disFlag['idDepartamento']}}" == idDepartamentoHorario &&  "{{disFlag['idProvincia']}}" == valProHor){
							
					$("#distritoHorario").append("<option value={{disFlag['ubigeoDistrito']}}>{{disFlag['nombreDistrito']}}</option>");
					}
			{% endfor %}
		}

		for (let i = 0; i < departamentoHorario.length; i++) {
			if(parseInt(departamentoHorario[i].value) == parseInt(sessionStorage.getItem('horIdDepartamento')) ){

				departamentoHorario[i].setAttribute('selected','selected');
				cambiarDepartamentoHorario(departamentoHorario);
				var provinciaHorario = document.querySelector("#provinciaHorario");
				
				for (let j = 0; j < provinciaHorario.length; j++) {
					if(parseInt(provinciaHorario[j].value) == parseInt(sessionStorage.getItem('horIdProvincia')) ){
						provinciaHorario[j].setAttribute('selected','selected');
						console.log("Provincia Horario ==>",provinciaHorario[j]);
						cambiarProvinciaHorario(provinciaHorario);
					}					
				}
			}
		}



		var cambiarDistritoHorario =  (disHor)=>{

			var idDistritoHorario = disHor.value;
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#tableHorario").empty();

			{% for comDep in complejosDeportivos  %}

					if("{{comDep['ubicodigo']}}" == idDistritoHorario){
							$("#complejosDeportivo").append("<option value={{comDep['id']}} >{{comDep['nombre']}}</option>");
					}
			{% endfor %}
		}

		var cambiarComplejoDeportivo = (comDep)=>{

			var idComplejoDeportivo = comDep.value;
			
			$("#vacantes").empty();
			$("#turno").empty();
			$("#rango-edad-horario").empty();
			$("#rango-hora-horario").empty();
			$("#mensaje").empty();	

			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#tableHorario").empty();

			{% for disDep in disciplinasDeportivas  %}

				if("{{disDep['idComplejoDeportivo']}}" == idComplejoDeportivo){
					
					var nombreDis = "{{ disDep['nombreDisciplina'] }} ";
					$("#disciplinaDeportiva").append("<option value = {{disDep['id']}}>"+nombreDis.trim()+"</option>");

				}
			{% endfor %}		
		}


		var cambiarDisciplinaDeportiva = (comDis)=>{

			var idComplejoDisciplina = comDis.value;

			let datos = {
							'idComplejoDisciplina':idComplejoDisciplina,
							'edadBeneficiario':sessionStorage.getItem("edad"),
							'flag':1,
							'flagDiscapacidad':sessionStorage.getItem('flagDiscapacitado')
						};

			if(idComplejoDisciplina == ''){
				$("#tableHorario").empty();
			}else{
				$.ajax({
					type:'POST',
					url: "{{url('tableHorario')}}",
					data: datos,
					beforeSend:function(){
						console.log(datos);
						$("#boton-next-final").attr("disabled", true);
						$("#container-loader-horario").show();
						$("#tableHorario").empty();
					},
					success:function(data){
						
						$("#container-loader-horario").hide();
						$("#tableHorario").html(data);
					}
				});
			}

		}


	$("#boton-next-final").on('click',function(){

		//var disciplinaDeportiva = document.getElementById('disciplinaDeportiva').value;
		//var horario =document.getElementById('horario').value;
		
		//if( disciplinaDeportiva=="" || horario==""){
		//		alertify.error('<p style="color:white">Debe seleccionar Disciplina y/o Horario </p>'); 
		//}else{	
			registrar();
		//}
	});


//FUNCION PARA REGISTRAR LA PRE-INSCRIPCION 

/*
	Se obtienen los valores de las variables en el localstorage.
*/

function registrar(){
	
	var dataRegisterApoderado={
		//DATOS APODERADO
		"dni" : sessionStorage.getItem('dni-apoderado'),
		"tipoDocumentoApoderado": sessionStorage.getItem('tipo_documento'),
		"apellidoPaterno" : sessionStorage.getItem('apellidoPaterno-apoderado'),
		"apellidoMaterno" : sessionStorage.getItem('apellidoMaterno-apoderado'),
		"nombre" : sessionStorage.getItem('nombre-apoderado'),
		"fechaNacimiento" : sessionStorage.getItem('fechaNacimiento-apoderado'),
		"sexo" : sessionStorage.getItem('sexo-apoderado'),
		"distrito" : sessionStorage.getItem('distrito-apoderado'),
		"direccion" : sessionStorage.getItem('direccion-apoderado'),
		"telefono" : sessionStorage.getItem('telefono-apoderado'),
		"correo" : sessionStorage.getItem('correo-apoderado'),
		//HORARIO
		'idHorario': $('input:radio[name=codHorario]:checked').val(),
		//DATOS HIJO
		"dniParticipante" : sessionStorage.getItem('dni-participante'),
		"tipoDocumentoParticipante": sessionStorage.getItem('tipo_documentoHijo'),
		"apellidoPaternoParticipante" : sessionStorage.getItem('apellidoPaterno-participante'),
		"apellidoMaternoParticipante" : sessionStorage.getItem('apellidoMaterno-partcipante'),
		"nombreParticipante" : sessionStorage.getItem('nombre-partcipante'),
		"fechaNacimientoParticipante" : sessionStorage.getItem('fechaNacimiento-partcipante'),
		"sexoParticipante" : sessionStorage.getItem('sexo-partcipante'),
		"parentesco" : sessionStorage.getItem('parentesco-partcipante'),
		"tipoSeguro" : sessionStorage.getItem('tipoSeguro-partcipante'),
		"discapacidad" :sessionStorage.getItem('flagDiscapacitado')
	};


	$.ajax({
		type:'POST',
		dataType: "json",
		url: "{{url('akademia_registrar')}}",
		data: dataRegisterApoderado,
		beforeSend: function(){	
			$("#boton-next-final").attr("disabled", true);	
			$('#ins-unique-idInscripcion').empty();
			$('#ins-unique-disciplina').empty();
			$('#ins-unique-modalidad').empty();
			$('#ins-unique-complejo-deportivo').empty();
			console.log(dataRegisterApoderado);	
		},
		success: function(data){
			

			$("#boton-next-final").attr("disabled", false);
			var valor = JSON.parse(data)[0];

			console.log(valor);

			if(Object.keys(valor).length == 4){
				console.log("Alerta");
				//showAlertMessage('#alerta-error', "El participante se encuentro inscrito con el Código de Inscripción "+valor.id+" en la disciplina"+valor.Displina+"con la modalidad"+valor.Modalidad+"del Complejo Deportivo"+valor.ComplejoDeportivo);
				$('#modalInscripcionUnica').modal('show');
				$('#ins-unique-idInscripcion').append(valor.id);
				$('#ins-unique-disciplina').append(valor.Disciplina);

				//if(valor.Modalidad == 0)
				//	$('#ins-unique-modalidad').append('Convencional');
				//else
				//	$('#ins-unique-modalidad').append('Personas con Discapacidad');
				$('#ins-unique-complejo-deportivo').append(valor.ComplejoDeportivo);

			}
			else if(data==5){
				location.reload();
				showAlertMessage('#alerta-error', "Lo sentimos, Ocurrio un Error en el Sistema.");
			}
			else{

				if(data != 1 ){


					console.log(data);
					$("#process4").hide();
					$("#process5").show('slow');

					$(".bar-inscripcion__4").removeClass('active');
					$(".bar-inscripcion__5").addClass('active');
					$("#process4").hide();
					$("#process5").show();
					sessionStorage.removeItem("idInscripcion");
					sessionStorage.setItem("idInscripcion",valor.id);
					$("#ancla-imprimir-fichaInscripcion").attr('href',"/academia/web/ajax/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion"));
					$("#ancla-imprimir-declaracion-jurada").attr('href',"/academia/web/ajax/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion"));
					$("#codigo-inscripcionRef").append(valor.id);
					$("#nombre-ficha").append(valor.pernombres);
					$("#apellidoPaterni-ficha").append(valor.perapepaterno);
					$("#apellidoMaterno-ficha").append(valor.perapematerno);
					$("#distrito-ficha").append(valor.distrito);
					$("#domicilio-ficha").append(valor.perdomdireccion);
					$("#fechaNacimiento-ficha").append(valor.perfecnacimiento);
					$("#telefono-ficha").append(valor.pertelefono);
					$("#dni-ficha").append(valor.dni);
					$("#edad-ficha").append(sessionStorage.getItem("edad"));
					$("#email-ficha").append(valor.percorreo);
					$("#deporte-ficha").append(valor.nombreDisciplina);
					$("#deporte-modalidad").append(valor.modalidad);
					$("#complejo-ficha").append(valor.nombreComplejo);

					valor.turnos.forEach(function(value,index){
						$("#horario-ficha").append(`<div>${value.frecuencia} de ${value.hora}</div>`);
					});

					$("#nombrePadre-declaracion-jurada").append(valor.nombrePadre);
					$("#codigo-inscripcion").val(valor.id);
				    enviarEmailApoderado(valor.percorreo,valor.nombrePadre,valor.id);
				}else{

					showAlertMessage('#alerta-error', "Lo sentimos, se agotaron las vacantes para este horario. ");
					$("#boton-next-final").attr("disabled", true);
				}

			}		
		},

		error: function(error){
			console.log("Error - oh no!");
		}
	});
}


// FUNCION PARA ENVIAR CORREO AL APODERADO

function enviarEmailApoderado($correoApod,$nombre,$id){

	var correoApoderado = {
		"correo" : $correoApod,
		"nombre" : $nombre,
		"id" : $id,
	};

	$.ajax({
		type:'POST',
		dataType: 'json',
		url: "{{url('akademia_sendemailapoderado')}}",
		data: correoApoderado,
		beforeSend: function(){
			
		},
		success: function(data){
			 alertify.success('<p style="color:black">Correo enviando exitósamente.</p>');
		},
		error: function(error){
			 alertify.error('<p style="color:white">Se produjo un problema al enviar la información a su correo electrónico.</p> ');
		}	
	});
}


$("#inscribirPreinscrito").on('click',function(){
	var id = $('#codigo-inscripcion').val();
	console.log(id);
	var dataFicha = {
		"id" : id,
	}
	$.ajax({
		type:'POST',
		dataType: 'json',
		url: "{{url('akademia_cambiarestado')}}",
		data: dataFicha,
		beforeSend: function(){	
			$("#btn-inscripcion").attr("disabled", true);	
		},
		success: function(data){
			if (data == 1){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-confirmacionFicha', "Ficha inscrita exitosamente !");
			
			}else if( data == 2){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-errorFicha', "No existen vacantes disponibles para este Horario. ");
			
			}else if( data == 3){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-errorFicha', "Este alumno ya se encuentra inscrito en esta disciplina. ");
			
			}else if( data == 4){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-errorFicha', "El alumno excedió la cantidad de Inscripciones posibles.");
			}
		},
		error: function(error){
			console.log("Error en la captura de datos");
		}
    });
});

	</script>



{% endblock %}

